        <footer class="footer">
            <div class="container-pr">
                <div class="clearfix dark-footer">
                    <p class="pull-left">Powered by Hippotech USA Inc.</p>
                    <small class="pull-right">©Hippotech USA Inc. All Rights Reserved.</small>
                </div>
            </div>
        </footer>
        <!-- footer -->
    </div>
    <!-- wrapper -->
