<body class=@@type>
<div class="wrapper">
<!-- NAVIGATION -->
<nav class="navbar navbar-custom">
      <!-- SEARCH -->
      <div class="navbar-dark navbar-search">
            <div class="container">
                  <div class="col-xs-12">
                        <ul class="search-cate-list list-unstyled list-inline">
                              <li><a href="javascript:;" title="Animal">Animal</a></li>
                              <li><a href="javascript:;" title="Animation">Animation</a></li>
                              <li><a href="javascript:;" title="Comedy">Comedy</a></li>
                              <li><a href="javascript:;" title="Cooking & Foods">Cooking & Foods</a></li>
                              <li><a href="javascript:;" title="Education">Education</a></li>
                              <li><a href="javascript:;" title="Game">Game</a></li>
                              <li><a href="javascript:;" title="How to">How to</a></li>
                              <li><a href="javascript:;" title="Medical">Medical</a></li>
                              <li><a href="javascript:;" title="People & Blog">People & Blog</a></li>
                              <li><a href="javascript:;" title="Science & Technology">Science & Technology</a></li>
                              <li><a href="javascript:;" title="Sports">Sports</a></li>
                        </ul>
                  </div>
            </div>
      </div>
      <!-- ./SEARCH -->
      <div class="container-pr">
            <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="index.html"><img title="Dubulator" alt="logo" src="assets/img/logo.png"/></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                  <div class="pull-left search-group">
                        <form class="flat" id="formSearch">
                              <input type="text" class="input-search input-border-bottom" name="search" id="search">
                              <a href="javascript:;" class="icon btn btn-circle" id="toggleSearch"><i class="fa fa-search"></i></a>
                        </form>
                  </div>
                  <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" class="btn btn-oval-orange">Upload</a></li>
                        <!-- When not logined yet-->
                        <li><a href="login.html" class="text">Login</a></li>
                        <!-- ./When not logined yet-->
                        <!-- When logined -->
                        <!--<li>-->
                              <!--<a href="javascrip:;" title="My profile" data-toggle="dropdown" class="dropdown-toggle"><img class="avatar" alt="avatar" src="assets/img/default_avatar.png"/></a>-->
                              <!--<ul class="dropdown-menu user-menu">-->
                                    <!--<li><a href="javascript:;" title="Account type" class="text-center"><i class="icon-dubu"></i> <span>Account type: </span><span class="acc-type">Standard</span></a></li>-->
                                    <!--<li>-->
                                          <!--<div class="text-center">-->
                                                <!--<img class="img-circle" src="assets/img/default_avatar.png" width="60" height="60" alt="logo"/>-->
                                                <!--<h5 class="mb15">User surname</h5>-->
                                          <!--</div>-->
                                    <!--</li>-->
                                    <!--<li class="user-menu-bottom">-->
                                          <!--<ul class="list-unstyled">-->
                                                <!--<li>-->
                                                      <!--<a href="javascript:;" title="Change other settings" class="bg-dark-grey"><i class="fa fa-lock"></i> <span>Change other settings </span></a>-->
                                                <!--</li>-->
                                                <!--<li><a href="javascript:;" title="Sign out" class="bg-dark-grey"><i class="fa fa-power-off "></i> Sign out</a></li>-->
                                          <!--</ul>-->
                                          <!--&lt;!&ndash; Change password &ndash;&gt;-->
                                          <!--&lt;!&ndash;<div class="pw-block">&ndash;&gt;-->
                                          <!--&lt;!&ndash;<form>&ndash;&gt;-->
                                          <!--&lt;!&ndash;<input type="email" class="form-control ip-bottom-white" name="email" id="email" required>&ndash;&gt;-->
                                          <!--&lt;!&ndash;</form>&ndash;&gt;-->
                                          <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                          <!--&lt;!&ndash; ./Change password &ndash;&gt;-->
                                    <!--</li>-->
                              <!--</ul>-->
                        <!--</li>-->
                        <!-- When logined -->
                        <li>
                              <a href="javascript:;" class="icon-lang dropdown-toggle" data-toggle="dropdown" id="toggleLang"><i class="fa fa-globe"></i> <span class="selected-lang">English</span><i class="fa fa-caret-down"></i></a>
                              <!-- LANGUAGE -->
                              <div class="navbar-lang dropdown-menu dropdown-lang">
                                    <ul class="list-unstyled clearfix">
                                          <li class="active col-xs-6"><a data-toggle="tab" href="#siteTab">Site Language</a></li>
                                          <li class="col-xs-6"><a data-toggle="tab" href="#langTab">Video Language</a></li>
                                    </ul>
                                    <div class="tab-content">
                                          <div id="siteTab" class="site-lang tab-pane fade in active">
                                                <ul class="nav-lang-list site-lang-list list-unstyled">
                                                      <li><a href="#" title="English">English</a></li>
                                                      <li><a href="#" title="Japanese">日本語</a></li>
                                                </ul>
                                          </div>
                                          <div id="langTab" class="video-lang tab-pane fade">
                                                <ul class="nav-lang-list video-lang-list list-unstyled">
                                                      <li><a href="#" title="English">English</a></li>
                                                      <li><a href="#" title="Japanese">日本語</a></li>
                                                </ul>
                                          </div>
                                    </div>

                              </div>
                              <!-- ./LANGUAGE -->
                        </li>
                  </ul>
            </div>
      </div>
</nav>