    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="assets/js/jquery-3.1.1.min.js"><\/script>')</script>
    <script src="assets/js/datepicker.min.js"></script>
    <script src="assets/js/tab.js"></script>
    <script src="assets/js/dropdown.js"></script>
    <script src="assets/js/collapse.js"></script>
    <script src="assets/js/main.js"></script>