<!-- LEFT SIDEBAR -->
<div class="pull-left sidebar" id="mySidebar">
    <div class="sb-top">
        TOYOTA 新宿支店
    </div>
    <ul class="sb-list list-unstyled">
        <!-- menu item -->
        <li class="mn">
            <a href="javascript:;" title=""><i class="icon icon-upload"></i> <span>アップロード</span></a>
        </li> <!-- ./menu item -->
        <li class="mn">
            <a href="javascript:;" title="Video list" data-toggle="collapse" data-target="#lvVideo">
                <i class="icon icon-video"></i> <span>動画リスト</span>
                 <span class="pull-right-container">
                    <i class="fa fa-caret-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-mn list-unstyled collapse" id="lvVideo">
                <li class="child-mn">
                    <a href="javascript:;"><span>グループ 1</span></a>
                </li>
                <li class="child-mn">
                    <a href="javascript:;"><span>グループ 2</span></a>
                </li>
                <li class="child-mn">
                    <a href="javascript:;"><span>グループ 3</span></a>
                </li>
                <li class="child-mn">
                    <a href="javascript:;"><span>グループ 4</span></a>
                </li>
                <li class="child-mn">
                    <a href="javascript:;"><span>グループ 5</span></a>
                </li>
            </ul>
        </li><!-- ./menu item -->
        <!-- menu item -->
        <li class="mn">
            <a href="javascript:;" title=""><i class="icon icon-company"></i> <span>企業情報設定</span></a>
        </li><!-- ./menu item -->
        <!-- menu item -->
        <li class="mn">
            <a href="javascript:;" title=""><i class="icon icon-security"></i> <span>セキュリティー設定</span></a>
        </li><!-- ./menu item -->
        <!-- menu item -->
        <li class="mn">
            <a href="javascript:;" title="Address Management" data-toggle="collapse" data-target="#lvAddress">
                <i class="icon icon-address"></i> <span>アドレス管理</span>
                 <span class="pull-right-container">
                    <i class="fa fa-caret-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-mn list-unstyled collapse" id="lvAddress">
                <li class="child-mn">
                    <a href="javascript:;"><span>グループ 1</span></a>
                </li>
                <li class="child-mn">
                    <a href="javascript:;"><span>グループ 2</span></a>
                </li>
                <li class="child-mn">
                    <a href="javascript:;"><span>グループ 3</span></a>
                </li>
                <li class="child-mn">
                    <a href="javascript:;"><span>グループ 4</span></a>
                </li>
                <li class="child-mn">
                    <a href="javascript:;"><span>グループ 5</span></a>
                </li>
            </ul>
        </li><!-- ./menu item -->
        <!-- menu item -->
        <li class="mn">
            <a href="javascript:;" title=""><i class="icon icon-contact"></i> <span>お問い合わせ</span></a>
        </li><!-- ./menu item -->
        <!-- menu item -->
        <li class="mn">
            <a href="javascript:;" title=""><i class="icon icon-price"></i> <span>プライスリスト</span></a>
        </li><!-- ./menu item -->
    </ul>
</div>
<!-- ./LEFT SIDEBAR -->