<!-- SUB HEADER -->
<div class="container-pr">
    <div class="sub-header">
        <a href="javascript:;" class="btn-slider" id="btnSlider">
            <i class="fa fa-bars"></i>
        </a>
        <h4 class=@@color>@@title</h4>
    </div>
</div>
<!-- ./SUB HEADER -->