<div class="container-setting">
    <div class="container container-acc">
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="upload.html" class="acc-item">
                <i class="icon icon-upload-lg"></i>
                <h4>アップロード</h4>
                <small>動画をアップロード</small>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="video_list.html" class="acc-item">
                <i class="icon icon-video-lg"></i>
                <h4>動画リスト</h4>
                <small>動画を管理</small>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="company.html" class="acc-item">
                <i class="icon icon-company-lg"></i>
                <h4>企業情報設定</h4>
                <small>企業情報を編集</small>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="security.html" class="acc-item">
                <i class="icon icon-security-lg"></i>
                <h4>セキュリティー設定</h4>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="javascript:;" class="acc-item">
                <i class="icon icon-address-lg"></i>
                <h4>アドレス管理</h4>
                <small>アドレスリストを管理</small>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="javascript:;" class="acc-item disabled">
                <i class="icon icon-contact-lg"></i>
                <h4>お問い合わせ</h4>
                <small>サポートサンターに</br>
                    問い合わせる</small>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="javascript:;" class="acc-item disabled">
                <i class="icon icon-price-lg"></i>
                <h4>プライスリスト</h4>
            </a>
        </div>
    </div>
</div>