 <div class="container-setting">
    <div class="container">
        <div class="content-setting">
            <!-- table-responsive -->
            <div class="table-responsive">
                <table class="table address-table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th><a href="javascript:;">名前 <i class="fa fa-caret-up"></i></a></th>
                        <th>E mail アドレス</th>
                        <th>属性</th>
                        <th>共有設定</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input class="cus-cb" type="checkbox">
                            <label class="cus-cb-label"></label>
                        </td>
                        <td><span class="name">Hippo Taro</span></td>
                        <td><span class="email">hippo.la@hippotechusa.com</span></td>
                        <td><span class="dept">総務部</span></td>
                        <td>
                            <div class="level-selection dropdown">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><span class="selected-level">レベル 1 </span><i class="fa fa-caret-down"></i></a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-title">このユーザーのレベルを設定</div>
                                    <ul>
                                        <li><a href="#">レベル 1</a></li>
                                        <li><a href="#">レベル 2</a></li>
                                        <li><a href="#">レベル 3</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>USA</td>
                    </tr>
                    <tr>
                        <td>
                            <input class="cus-cb" type="checkbox">
                            <label class="cus-cb-label"></label>
                        </td>
                        <td><span class="name">Hippo Taro</span></td>
                        <td><span class="email">hippo.la@hippotechusa.com</span></td>
                        <td><span class="dept">総務部</span></td>
                        <td>
                            <div class="level-selection dropdown">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><span class="selected-level">レベル 1 </span><i class="fa fa-caret-down"></i></a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-title">このユーザーのレベルを設定</div>
                                    <ul>
                                        <li><a href="#">レベル 1</a></li>
                                        <li><a href="#">レベル 2</a></li>
                                        <li><a href="#">レベル 3</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>USA</td>
                    </tr>
                    </tbody>
                </table>
            </div> <!-- ./table-responsive -->
        </div>
    </div>
</div>
