<div class="container-agency">
    <div class="container">
        <!-- agency banner -->
        <div class="agency-banner">
            <div class="agency-text col-sm-6 col-md-offset-2 col-md-4">
                <i class="col-xs-2 icon-block pull-left icon-logo"></i>
                <div class="pull-left">
                    <h5 class=" agency-title">Agency Registration</h5>
                    <h5 class=" agency-partner">OUR PARTNER</h5>
                </div>
            </div>
        </div> <!-- ./agency banner -->

        <!-- content agency -->
        <div class="content-agency">
            <h3 class="agency-welcome">Welcome to BtoB Dubulator </h3>
            <p class="agency-des">代理店加入をご希望の方は、下記登録フォームから申請してください。</p>
            <small>申請後は各国の総代理店より、記載頂いたメール宛に代理店コードをお送りさせて頂きます。</small>
        </div> <!-- ./content agency -->

        <!-- agency grey -->
        <div class="agency-grey">
            <div class="col-md-offset-4">
                <h5><strong>日本総代理店</strong></h5>
                <div class="clearfix">
                    <div class="form-group">
                        <label class="pl0 control-label col-xs-12 col-sm-3 col-md-3">総代理店名</label>
                        <div class="col-xs-12 col-sm-9 col-md-9 mb15">
                            <p>株式会社エー・アイ・ディー</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="pl0 control-label col-xs-12 col-sm-3 col-md-3">本社住所</label>
                        <div class="col-xs-12 col-sm-9 col-md-9 mb15">
                            <p>〒222-0033</p>
                            <p>神奈川県横浜市港北区新横浜3-1-4 プラスタリアビル302号</p>
                            <p>神奈川県横浜市港北区新横浜3-1-4 プラスタリアビル302号</p>
                            <p>TEL：<span class="tel">045-548-8046</span></p>
                            <p>FAX: <span>045-548-8047</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- ./agency grey -->
        <div class="center-divider divider"></div>
        <div class="mt30 col-sm-offset-3">
            <h4><strong>代理店登録情報</strong></h4>
            <div class="form-setting">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3" for="comName">企業名</label>
                        <div class="col-sm-6 col-md-5">
                            <input type="text" class="form-control" id="comName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3" for="address">本社住所</label>
                        <div class="col-sm-6 col-md-5">
                            <input type="text" class="form-control" id="address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3" for="ppInCharge">担当者名</label>
                        <div class="col-sm-6 col-md-5">
                            <input type="text" class="form-control" id="ppInCharge">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3" for="email">メールアドレス</label>
                        <div class="col-sm-6 col-md-5">
                            <input type="email" class="form-control" id="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3" for="tel">TEL</label>
                        <div class="col-sm-6 col-md-5">
                            <input type="tel" class="form-control" id="tel">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3" for="url">サイトURL</label>
                        <div class="col-sm-6 col-md-5">
                            <input type="text" class="form-control" id="url">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-md-offset-3 col-sm-8">
                            <button type="submit" class="btn btn-corner-blue">申請</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
