<div id="infoTab" class="tab-pane fade in active">
    <h4><strong>企業情報</strong></h4>
    <div class="form-setting">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-4 col-md-3" for="comName">企業名</label>
                <div class="col-sm-6 col-md-5">
                    <input type="text" class="form-control" id="comName">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 col-md-3" for="address">本社住所</label>
                <div class="col-sm-6 col-md-5">
                    <input type="text" class="form-control" id="address">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 col-md-3" for="ppInCharge">担当者名</label>
                <div class="col-sm-6 col-md-5">
                    <input type="text" class="form-control" id="ppInCharge">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 col-md-3" for="email">メールアドレス</label>
                <div class="col-sm-6 col-md-5">
                    <input type="email" class="form-control" id="email">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 col-md-3" for="tel">TEL</label>
                <div class="col-sm-6 col-md-5">
                    <input type="tel" class="form-control" id="tel">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 col-md-3" for="url">サイトURL</label>
                <div class="col-sm-6 col-md-5">
                    <input type="text" class="form-control" id="url">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-md-offset-3 col-sm-8">
                    <button type="submit" class="btn btn-corner-blue">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>