 <div class="container-setting">
    <div class="container">
        <div class="content-setting">
            <!-- Vertical tab -->
            <ul class="nav nav-stacked nav-setting col-xs-12 col-sm-3">
                <li class="active"><a href="#infoTab" data-toggle="tab">企業情報</a></li>
                <li><a href="#picTab" data-toggle="tab">写真</a></li>
                <li><a href="#languageTab" data-toggle="tab">言語</a></li>
                <li><a href="#agencyTab" data-toggle="tab">代理店 (非公開 )</a></li>
            </ul>
            <!-- ./Vertical tab -->
            <div class="tab-setting tab-content col-xs-12 col-sm-9">
                @@include('pages/_company_info.html')
                @@include('pages/_company_picture.html')
                @@include('pages/_company_lang.html')
                @@include('pages/_company_agency.html')
            </div>
        </div>
    </div>
</div>
 @@include('modals/modal_lang.html')