<div id="picTab" class="tab-pane">
    <h4><strong>写真</strong></h4>
    <div class="form-setting">
        <form class="form-horizontal flat">
            <div class="avatar-block">
                <img class="company-avatar" title="Avatar" src="" width="180" height="180" alt="avatar"/>
                <input type="file" name="upload" class="pr-upload" accept="image/*" />
                <div class="avatar-cover">
                    <div>
                        <i class="icon-block icon-camera"></i>
                        <p>Drag an image here</p>
                        <p> to upload</p>
                    </div>
                </div>
            </div>
            <!--<select class="form-control mt20 mb15 company-upload" id="uploadAvatar" name="company">-->
                    <!--<option>ファイルを選択</option>-->
                    <!--<option>ファイルを選択</option>-->
            <!--</select>-->
            <button type="submit" class="btn btn-corner-blue">保存</button>
        </form>
    </div>
</div>