<div id="agencyTab" class="tab-pane fade">
    <h4><strong>代理店 ( 非公開 )</strong></h4>
    <div class="form-setting">
        <div class="form-group">
            <label class="pl0 control-label col-sm-4 col-md-3">総代理店コード</label>
            <div class="col-sm-8 col-md-9 mb15">
                <p>AID0002</p>
                <p>株式会社エー・アイ・ディー</p>
            </div>
        </div>
        <div class="form-group">
            <label class="pl0 control-label col-sm-4 col-md-3">親店コード</label>
            <div class="col-sm-8 col-md-9 mb15">
                <p>AID0002TOYOTAJPN0003</p>
                <p>株式会社日本TOYOTA</p>
            </div>
        </div>
        <div class="form-group">
            <label class="pl0 control-label col-sm-4 col-md-3">御社代理店コード</label>
            <div class="col-sm-8 col-md-9 mb15">
                <p>AID0002TOYOTAUSA0003SHI0001</p>
            </div>
        </div>
    </div>
</div>