<div id="languageTab" class="tab-pane">
    <h4><strong>言語</strong></h4>
    <div class="form-setting">
        <form class="form-horizontal flat">
            <div class="form-group">
                <label class="control-label col-sm-4 col-md-3" for="selectedLang">母国語</label>
                <div class="col-sm-6 col-md-5">
                    <select class="form-control" id="selectedLang" name="language">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 col-md-3">必要言語</label>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-md-offset-3 col-sm-6 col-md-5 text-right">
                    <span class="pr8">言語を追加</span><a href="javascript:;" class="icon icon-add"></a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-md-offset-3 col-sm-8">
                    <button type="submit" class="btn btn-corner-blue">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>