<!-- container-grey -->
<div class="container-grey">
    <h1 class="title">Business, we speak your language</h1>
    <div class="container">
        <!-- Promotion flash -->
        <div class="video-frm">
            <div class="promo-frm">
                <div class="plyarea1 parea">
                    <img class="ply-btn" src="assets/img/ic_play.png">
                    <div class="player-guide">
                        <img class="thum-img" width="690" height="402" src="movie/2itti9QAzJ880s6M/moviepic.jpg">
                    </div>
                </div>
                <div class="rating-blk">
                    <div class="lgtop"></div>
                    <div class="langSet"></div>
                </div>
            </div>
        </div>
        <!-- ./Promotion flash -->


        <div class="col-md-12 m25 p0 clearfix">
            <div class="col-sm-7 col-md-5">
                <h2 class="title-lineup">Dubulator Video Line-up</h2>
                <ul class="list-inline list-unstyled lineup-videos">
                    <li class="col-xs-12 col-sm-6 text-center"><img class="lineup-video" width="181" height="104" src="movie/2itti9QAzJ880s6M/moviepic.jpg"></li>
                    <li class="col-xs-12 col-sm-6 text-center"><img class="lineup-video" width="181" height="104" src="movie/wyhV5ZAMe6Fz5bfR/moviepic.jpg"></li>
                </ul>
            </div>


            <div class="pull-right lineup-buttons">
                <a href="javascript:;" class="col-xs-12 col-sm-4 col-md-6 btn btn-corner-radius mt15">Sign up</a>
                <a href="javascript:;" class="col-xs-12 col-sm-4 col-md-6 btn btn-corner-radius mt25 disabled">Web</a>
                <a href="javascript:;" class="col-xs-12 col-sm-4 col-md-6 btn btn-corner-radius mt15">promo</a>
            </div>
        </div>
        <div class="divider dark-divider"></div>

        <!-- container cate -->
        <div class="clearfix container-cate">
            <h2 class="title">Categories</h2>
            <!-- Categories list -->
            <ul class="col-xs-12 ist-inline list-unstyled cate-list">
                <li class="col-xs-6 col-sm-3 col-md-2 col-lg-14-2">
                    <img class="cate-img" src="assets/img/cates/cate_1.png"/>
                    <div class="cate-name">Travel and Lodging</div>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-2 col-lg-14-2">
                    <img class="cate-img" src="assets/img/cates/cate_2.png"/>
                    <div class="cate-name">Tech Equipment and Services</div>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-2 col-lg-14-2">
                    <img class="cate-img" src="assets/img/cates/cate_3.png"/>
                    <div class="cate-name">Medical and Health</div>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-2 col-lg-14-2">
                    <img class="cate-img" src="assets/img/cates/cate_4.png"/>
                    <div class="cate-name">Education</div>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-2 col-lg-14-2">
                    <img class="cate-img" src="assets/img/cates/cate_5.png"/>
                    <div class="cate-name">Freight and Transportationg</div>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-2 col-lg-14-2">
                    <img class="cate-img" src="assets/img/cates/cate_6.png"/>
                    <div class="cate-name">Financial and Real Estate</div>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-2 col-lg-14-2">
                    <img class="cate-img" src="assets/img/cates/cate_7.png"/>
                    <div class="cate-name">Legal and Insurance</div>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-2 col-lg-14-2">
                    <img class="cate-img" src="assets/img/cates/cate_8.png"/>
                    <div class="cate-name">Clothing, Jewelry, and Textiles</div>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-2 col-lg-14-2">
                    <img class="cate-img" src="assets/img/cates/cate_9.png"/>
                    <div class="cate-name">Cooking and Home</div>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-2 col-lg-14-2">
                    <img class="cate-img" src="assets/img/cates/cate_10.png"/>
                    <div class="cate-name">Art, Design, and Media</div>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-2 col-lg-14-2">
                    <img class="cate-img" src="assets/img/cates/cate_11.png"/>
                    <div class="cate-name">Manufacturing and Equipment</div>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-2 col-lg-14-2">
                    <img class="cate-img" src="assets/img/cates/cate_12.png"/>
                    <div class="cate-name">Sports, Toys, and Recreation</div>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-2 col-lg-14-2">
                    <img class="cate-img" src="assets/img/cates/cate_13.png"/>
                    <div class="cate-name">Agriculture and Natural Resources</div>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-2 col-lg-14-2">
                    <img class="cate-img" src="assets/img/cates/cate_14.png"/>
                    <div class="cate-name">Consulting and Business Communication</div>
                </li>
            </ul>
            <!-- ./Categories list -->
        </div><!-- ./container cate -->

        <div class="clearfix swipers">
            <!-- Image slider -->
            <div class="sliders">
                <div id="swiperCateDetail" class="col-xs-12 clearfix swiper-container swiper-cate-detail">
                    <!-- swiper-wrapper -->
                    <div class="swiper-wrapper">
                        <!-- SAMPLE DATA -->
                        <div class="swiper-slide" data-index="2">
                            <a href="javascript:;" title="Video"><img class="img-responsive trending-img" alt="trending" src="assets/img/cate_items/tn01.jpg" width="137" height="137"/></a>
                        </div>
                        <div class="swiper-slide" data-index="3">
                            <a href="javascript:;" title="Video"><img class="img-responsive trending-img" alt="trending" src="assets/img/cate_items/tn08.jpg" width="137" height="137"/></a>
                        </div>
                        <div class="swiper-slide" data-index="4">
                            <a href="javascript:;" title="Video"><img class="img-responsive trending-img" alt="trending" src="assets/img/cate_items/tn02.jpg" width="137" height="137"/></a>
                        </div>
                        <div class="swiper-slide" data-index="5">
                            <a href="javascript:;" title="Video"><img class="img-responsive trending-img" alt="trending" src="assets/img/cate_items/tn09.jpg" width="137" height="137"/></a>
                        </div>
                        <div class="swiper-slide" data-index="6">
                            <a href="javascript:;" title="Video"><img class="img-responsive trending-img" alt="trending" src="assets/img/cate_items/tn03.jpg" width="137" height="137"/></a>
                        </div>
                        <div class="swiper-slide" data-index="7">
                            <a href="javascript:;" title="Video"><img class="img-responsive trending-img" alt="trending" src="assets/img/cate_items/tn10.jpg" width="137" height="137"/></a>
                        </div>
                        <div class="swiper-slide" data-index="8">
                            <a href="javascript:;" title="Video"><img class="img-responsive trending-img" alt="trending" src="assets/img/cate_items/tn04.jpg" width="137" height="137"/></a>
                        </div>
                        <div class="swiper-slide" data-index="9">
                            <a href="javascript:;" title="Video"><img class="img-responsive trending-img" alt="trending" src="assets/img/cate_items/tn11.jpg" width="137" height="137"/></a>
                        </div>
                        <div class="swiper-slide" data-index="10">
                            <a href="javascript:;" title="Video"><img class="img-responsive trending-img" alt="trending" src="assets/img/cate_items/tn05.jpg" width="137" height="137"/></a>
                        </div>
                        <div class="swiper-slide" data-index="11">
                            <a href="javascript:;" title="Video"><img class="img-responsive trending-img" alt="trending" src="assets/img/cate_items/tn12.jpg" width="137" height="137"/></a>
                        </div>
                        <div class="swiper-slide" data-index="12">
                            <a href="javascript:;" title="Video"><img class="img-responsive trending-img" alt="trending" src="assets/img/cate_items/tn06.jpg" width="137" height="137"/></a>
                        </div>
                        <div class="swiper-slide" data-index="13">
                            <a href="javascript:;" title="Video"><img class="img-responsive trending-img" alt="trending" src="assets/img/cate_items/tn13.jpg" width="137" height="137"/></a>
                        </div>
                        <div class="swiper-slide" data-index="14">
                            <a href="javascript:;" title="Video"><img class="img-responsive trending-img" alt="trending" src="assets/img/cate_items/tn07.jpg" width="137" height="137"/></a>
                        </div>
                        <div class="swiper-slide" data-index="15">
                            <a href="javascript:;" title="Video"><img class="img-responsive trending-img" alt="trending" src="assets/img/cate_items/tn14.jpg" width="137" height="137"/></a>
                        </div>
                        <!-- ./SAMPLE DATA -->
                    </div><!-- ./swiper-wrapper -->
                </div>
            </div>
            <a href="javascript:;" class="swiper-button button-left" id="btnPrev"></a>
            <a href="javascript:;" class="swiper-button button-right" id="btnNext"></a>
            <!-- ./Image slider -->
        </div>

        <div class="divider dark-divider"></div>
    </div><!-- ./container -->

    <!-- container-banner -->
    <div class="container-banner">
        <h3 class="title">Business, we speak your language</h3>
        <!-- container -->
        <div class="container">
            <p class="col-xs-12 mt25 text-border-white">
                Dubulatorは動画ひとつで世界中の人をつなぎます。</br>
                プロモーションビデオをお持ちなら今すぐアップロードして下さい。</br>
                世界中のバイリンガルdubulatorがその国の言葉を追加してくれます。</br>
                ビジネスが世界に広がるグローバル・チャンスです。</br></br>
                お申し込み・ご登録は今すぐ!!
            </p>
            <div class="pull-right">
                <a href="javascript:;" class="btn btn-corner-radius mt20">Start Here</a>
            </div>
        </div><!-- ./container -->
    </div><!-- ./container-banner -->

    <div class="clearfix container-partner">
        <a href="#" class="promo-go-top" title="Top page"><i class="fa fa-chevron-up"></i></a>
        <div class="container">
            <h4 class="title">Our Partners</h4>
            <ul class="list-unstyled list-inline col-xs-12 col-sm-4 partner-list">
                <li><img alt="partner" src="assets/img/partners/partner_1.png" height="52"/></li>
                <li><img alt="partner" src="assets/img/partners/partner_2.png" height="52"/></li>
            </ul>
            <div class="col-sm-8 pr0">
                <a href="javascript:;" class="btn btn-corner-radius pull-right disabled">Become an Agent</a>
            </div>
        </div>
    </div>
</div>
<!-- ./container-grey -->