<div class="container-setting">
    <div class="container">
        <div class="content-setting">
            <!-- Vertical tab -->
            <ul class="nav nav-stacked nav-setting col-xs-12 col-sm-3">
                <li class="active"><a href="#pwTab" data-toggle="tab">パスワード</a></li>
            </ul>
            <!-- ./Vertical tab -->
            <div class="tab-setting tab-content col-xs-12 col-sm-9">
                <div id="pwTab" class="tab-pane fade in active">
                    <h4><strong>パスワード変更</strong></h4>
                    <div class="form-setting">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-3" for="currentPw">現在のパスワード</label>
                                <div class="col-sm-6 col-md-5">
                                    <input type="password" class="form-control" id="currentPw">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-3" for="newPw">新しいパスワード</label>
                                <div class="col-sm-6 col-md-5">
                                    <input type="password" class="form-control" id="newPw">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-3" for="reenterPw">パスワード再入力</label>
                                <div class="col-sm-6 col-md-5">
                                    <input type="password" class="form-control" id="reenterPw">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-md-offset-3 col-sm-8">
                                    <button type="submit" class="btn btn-corner-blue">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>