<!-- Register -->
<div class="container-pr">
    <div class="clearfix container-login">
        <div class="row">
            <div class="col-xs-12 col-sm-8 text-center login-content">
                <img src="assets/img/logo_brand.png" class="mt20"/>
                <h3 class="title-login">
                    MY ACCOUNT
                </h3>
                <div class="col-sm-8 clearfix center-block">
                    <form class="flat login-form">

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="companyName">Company</label>
                            <input type="text" class="form-control" id="companyName">
                        </div>
                        <div class="form-group">
                            <label for="pWord">Password</label>
                            <input type="password" class="form-control" id="pWord">
                        </div>
                        <div class="form-group">
                            <label for="confirmPWord">Confirm password</label>
                            <input type="password" class="form-control" id="confirmPWord">
                        </div>
                        <div class="form-group">
                            <label for="code">Code</label>
                            <input type="text" class="form-control" id="code">
                        </div>
                        <div>
                            <input id="cbPrivacy" class="cus-cb" type="checkbox">
                            <label for="cbPrivacy" class="cus-cb-label"></label> <a href="javascript:;" class="orange-link">By signing up, you agree to our Terms of Service and Privacy Policy</a>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-flat-black">Sign up</button>
                        </div>
                    </form>
                    <div class="text-left mt30 login-bottom">
                        <div class="clearfix divider"></div>
                        <a href="login.html" class="login-link pull-right">Return to Login page</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="bg-login"></div>
            </div>
        </div>
    </div>
</div>
<!-- ./Register -->