<!-- Login -->
<div class="container-pr">
    <div class="clearfix container-login">
        <div class="row">
            <div class="col-xs-12 col-sm-8 text-center login-content">
                <img src="assets/img/logo_brand.png" class="mt20"/>
                <h3 class="title-login">
                    MY ACCOUNT
                </h3>
                <div class="col-sm-8 clearfix center-block">
                    <form class="flat login-form">

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="pWord">Password</label>
                            <input type="password" class="form-control" id="pWord">
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-flat-black">Sign in</button>
                        </div>
                    </form>
                    <div class="text-left mt30 login-bottom">
                        <a href="javascript:;" class="login-link">Forgot password?</a>
                        <div class="clearfix divider"></div>
                        <span>DON'T HAVE AN ACCOUNT?</span><a href="register.html" class="login-link pull-right">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="bg-login"></div>
            </div>
        </div>
    </div>
</div>
<!-- ./Login -->