 <div class="container-setting">
    <div class="container">
        <div class="content-setting">
            <!-- form upload -->
            <form id="formUpload" class="form-upload form-horizontal flat" data-toggle="validator">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <!-- upload-area -->
                        <div class="upload-area has-feedback mb15">
                            <input type="file" class="input-hidden" accept="video/*" onchange="readFile(this);" name="file-upload" required/>
                            <div class="upload-select">
                                <i class="icon icon-upload-orange"></i>
                                <h4>アップロードするファイルを選択</h4>
                                <h5 class="mt5">または動画ファイルをドラッグ＆ドロップ</h5>
                            </div>
                            <div class="upload-content">
                                <i class="fa fa-4x fa-video-camera"></i>
                                <h4 class="upload-name">No file uploaded</h4><span class="upload-size">0kb</span>
                                <div><a href="#" class="btn btn-custom-xs btn-border-blue" id="btnRemove" onclick="removeUpload()">Remove file</a></div>
                            </div>
                        </div><!-- ./upload-area -->
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group has-feedback">
                            <div class="col-sm-12">
                                <select class="form-control" id="selectLang" name="lang" required>
                                    <option>言語を選択</option>
                                    <option>English</option>
                                    <option>日本語</option>
                                    <option>한국어</option>
                                    <option>Vietnamese</option>
                                </select>
                                <i class="glyphicon glyphicon-triangle-bottom form-control-feedback"></i>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="title" name="title" placeholder="タイトル" required>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <div class="col-sm-12">
                                <textarea type="text" class="area-des form-control" placeholder="説明" name="des" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea type="text" class="area-tag form-control" placeholder="タグ ( オプション)" name="tag" disabled></textarea>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <div class="col-sm-12">
                                <select class="form-control" name="category">
                                    <option>カテゴリ</option>
                                </select>
                                <i class="glyphicon glyphicon-triangle-bottom form-control-feedback"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" placeholder="Url" name="url" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </form><!-- ./form upload -->
            <div class="col-xs-12">
                <div class=" pull-right progress">
                    <div class="bar"></div >
                    <div class="percent">0%</div>
                    <span class="p"></span>
                </div>
                <div class="clearfix pull-right button-group mt25">
                    <button type="submit" class="btn btn-orange" id="btnSave">Save</button>
                    <a href="#" title="Reset" class="btn btn-border-blue" id="btnReset" data-toggle="modal" data-target="#modalConfirmUpload">Reset</a>
                </div>

            </div>
        </div>
    </div>
</div>
