<div class="container-setting">
    <div class="container">
        <div class="content-setting">
            <h4><i class="icon icon-grid"></i><strong> 動画リスト</strong></h4>
            <!-- Filter -->
            @@include('partials/_filter.html')
            <!-- ./Filter -->
            <!-- Toggle view -->
            <ul class="nav nav-tabs toggle-view">
                <li class="active"><a href="#vGrid" data-toggle="tab"><i class="icon icon-grid-sm"></i></a></li>
                <li><a href="#vList" data-toggle="tab"><i class="icon icon-list"></i></a></li>
            </ul>
            <!-- ./Toggle view -->
            <!-- Videos -->
            <div class="tab-content clearfix">
                @@include('pages/_video_grid.html')
                @@include('pages/_video_list.html')
            </div>
            <!-- ./Videos -->
        </div>
    </div>
</div>
