<!-- MODAL -->
<div class="modal fade custom-modal grey-header" id="modalSelectLang" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">どの言語を理解できますか？</h4>
            </div>
            <!-- modal body -->
            <div class="modal-body lang-body">
                <ul class="pr-lang-list col-xs-12 list-unstyled">
                    <li class="col-xs-6 col-sm-3">Af-Soomaali</li>
                    <li class="col-xs-6 col-sm-3">Afrikaans</li>
                    <li class="col-xs-6 col-sm-3">Azərbaycan dili</li>
                    <li class="col-xs-6 col-sm-3">Indonesia</li>
                    <li class="col-xs-6 col-sm-3">Af-Soomaali</li>
                    <li class="col-xs-6 col-sm-3">Afrikaans</li>
                    <li class="col-xs-6 col-sm-3">Azərbaycan dili</li>
                    <li class="col-xs-6 col-sm-3">Indonesia</li>
                    <li class="col-xs-6 col-sm-3">Af-Soomaali</li>
                    <li class="col-xs-6 col-sm-3">Afrikaans</li>
                    <li class="col-xs-6 col-sm-3">Azərbaycan dili</li>
                    <li class="col-xs-6 col-sm-3">Indonesia</li>
                    <li class="col-xs-6 col-sm-3">Af-Soomaali</li>
                    <li class="col-xs-6 col-sm-3">Afrikaans</li>
                    <li class="col-xs-6 col-sm-3">Azərbaycan dili</li>
                    <li class="col-xs-6 col-sm-3">Indonesia</li>
                    <li class="col-xs-6 col-sm-3">Af-Soomaali</li>
                    <li class="col-xs-6 col-sm-3">Afrikaans</li>
                    <li class="col-xs-6 col-sm-3">Azərbaycan dili</li>
                    <li class="col-xs-6 col-sm-3">Indonesia</li>
                    <li class="col-xs-6 col-sm-3">Af-Soomaali</li>
                    <li class="col-xs-6 col-sm-3">Afrikaans</li>
                    <li class="col-xs-6 col-sm-3">Azərbaycan dili</li>
                    <li class="col-xs-6 col-sm-3">Indonesia</li>
                    <li class="col-xs-6 col-sm-3">Af-Soomaali</li>
                    <li class="col-xs-6 col-sm-3">Afrikaans</li>
                    <li class="col-xs-6 col-sm-3">Azərbaycan dili</li>
                    <li class="col-xs-6 col-sm-3">Indonesia</li>
                    <li class="col-xs-6 col-sm-3">Af-Soomaali</li>
                    <li class="col-xs-6 col-sm-3">Afrikaans</li>
                    <li class="col-xs-6 col-sm-3">Azərbaycan dili</li>
                    <li class="col-xs-6 col-sm-3">Indonesia</li>
                    <li class="col-xs-6 col-sm-3">Af-Soomaali</li>
                    <li class="col-xs-6 col-sm-3">Afrikaans</li>
                    <li class="col-xs-6 col-sm-3">Azərbaycan dili</li>
                    <li class="col-xs-6 col-sm-3">Indonesia</li>
                    <li class="col-xs-6 col-sm-3">Af-Soomaali</li>
                    <li class="col-xs-6 col-sm-3">Afrikaans</li>
                    <li class="col-xs-6 col-sm-3">Azərbaycan dili</li>
                    <li class="col-xs-6 col-sm-3">Indonesia</li>
                    <li class="col-xs-6 col-sm-3">Af-Soomaali</li>
                    <li class="col-xs-6 col-sm-3">Afrikaans</li>
                    <li class="col-xs-6 col-sm-3">Azərbaycan dili</li>
                    <li class="col-xs-6 col-sm-3">Indonesia</li>
                    <li class="col-xs-6 col-sm-3">Af-Soomaali</li>
                    <li class="col-xs-6 col-sm-3">Afrikaans</li>
                    <li class="col-xs-6 col-sm-3">Azərbaycan dili</li>
                    <li class="col-xs-6 col-sm-3">Indonesia</li>
                </ul>
            </div> <!-- ./modal body -->
            <div class="modal-footer">
                <div class="button-group text-center">
                    <a href="javascript:;" data-dismiss="modal" title="Cancel" class="btn btn-custom-xs btn-border-black">Cancel</a>
                    <button title="Add" class="btn btn-custom-xs btn-orange">Save</button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- ./MODAL -->