<form class="clearfix flat form-horizontal filter-video-search">
    <div class="col-xs-12 col-sm-6 col-md-3 pl0">
        <label class="col-sm-4">カテゴリー</label>
        <div class="form-group col-xs-8 has-feedback p0">
            <select class="col-xs-12 form-control" id="selectCate">
                <option>カテゴリーを選択</option>
            </select>
            <i class="glyphicon glyphicon-triangle-bottom form-control-feedback"></i>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 pl0">
        <label class="col-sm-4">元言語</label>
        <div class="form-group col-sm-8 has-feedback p0">
            <select class="col-xs-12 form-control" id="selectOriLang">
                <option>言語を選択</option>
            </select>
            <i class="glyphicon glyphicon-triangle-bottom form-control-feedback"></i>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 pl0">
        <label class="col-sm-4">翻訳言語</label>
        <div class="form-group col-sm-8 has-feedback p0">
            <select class="col-xs-12 form-control" id="selectTransLang">
                <option>翻訳言語を選択</option>
            </select>
            <i class="glyphicon glyphicon-triangle-bottom form-control-feedback"></i>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 pl0">
        <label class="col-sm-4">公開設定</label>
        <div class="form-group col-sm-8 has-feedback p0">
            <select class="col-xs-12 form-control" id="selectSetting">
                <option>グループを選択</option>
            </select>
            <i class="glyphicon glyphicon-triangle-bottom form-control-feedback"></i>
        </div>
    </div>
    <!--row 2-->
    <div class="col-xs-12 col-sm-6 col-md-3 pl0">
        <label class="col-sm-4">進行状況</label>
        <div class="form-group col-sm-8 has-feedback p0">
            <select class="col-xs-12 form-control" id="selectStatus">
                <option>製作完了</option>
            </select>
            <i class="glyphicon glyphicon-triangle-bottom form-control-feedback"></i>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 pl0">
        <label class="col-sm-4">アップロードした日付</label>
        <div class="col-sm-4 pl0 from">
            <input type="text" class="form-control date-picker"/>
        </div>
        <div class="col-sm-4 to">
            <input type="text" class="form-control date-picker"/>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 p0">
        <a class="col-xs-12 col-sm-5 btn btn-border-grey-bg">日付を削除</a>
        <div class="col-xs-12 col-sm-7 text-right">
            <button type="submit" class="btn btn-corner-orange">検索 <i class="fa fa-search"></i></button>
        </div>

    </div>
</form>
<div class="divider"></div>
<ul class="filter-tags list-inline list-unstyled">
    <li class="filter-tag"><span>音楽</span><a href="javascript:;" class="filter-delete"><i class="fa fa-close"></i></a></li>
    <li class="filter-tag"><span>Japanese</span><a href="javascript:;" class="filter-delete"><i class="fa fa-close"></i></a></li>
</ul>