<!-- Video list -->
<div class="container-fluid clearfix container-video-list p0">
    <ul class="list-unstyled mt15 row">
        <li class="col-xs-12 col-sm-6 col-md-4">
            <div class="video-item selected">
                <img alt="Video thumbnail" class="col-xs-6 p0" width="226" height="150" src="assets/img/sample1.jpeg"/>
                <div class="col-xs-6 video-item-info">
                    <a href="javascript:;" title="Video title" class="video-title"><h4>Video title</h4></a>
                    <a href="javascript:;" title="Edit video" class="btn btn-border-black">編集</a>
                </div>
                <a href="javascript:;" class="star"><i class="icon icon-star selected"></i></a>
            </div>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-4">
            <div class="video-item">
                <img alt="Video thumbnail" class="col-xs-6 p0" width="226" height="150" src="assets/img/sample2.jpeg"/>
                <div class="col-xs-6 video-item-info">
                    <a href="javascript:;" title="Video title" class="video-title"><h4>Video title</h4></a>
                    <a href="javascript:;" title="Edit video" class="btn btn-border-black">編集</a>
                </div>
                <a href="javascript:;" class="star"><i class="icon icon-star"></i></a>
            </div>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-4">
            <div class="video-item">
                <img alt="Video thumbnail" class="col-xs-6 p0" width="226" height="150" src="assets/img/sample3.jpeg"/>
                <div class="col-xs-6 video-item-info">
                    <a href="javascript:;" title="Video title" class="video-title"><h4>Video title</h4></a>
                    <a href="javascript:;" title="Edit video" class="btn btn-border-black">編集</a>
                </div>
                <a href="javascript:;" class="star"><i class="icon icon-star"></i></a>
            </div>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-4">
            <div class="video-item">
                <img alt="Video thumbnail" class="col-xs-6 p0" width="226" height="150" src="assets/img/sample5.jpeg"/>
                <div class="col-xs-6 video-item-info">
                    <a href="javascript:;" title="Video title" class="video-title"><h4>Video title</h4></a>
                    <a href="javascript:;" title="Edit video" class="btn btn-border-black">編集</a>
                </div>
                <a href="javascript:;" class="star"><i class="icon icon-star"></i></a>
            </div>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-4">
            <div class="video-item">
                <img alt="Video thumbnail" class="col-xs-6 p0" width="226" height="150" src="assets/img/sample6.jpeg"/>
                <div class="col-xs-6 video-item-info">
                    <a href="javascript:;" title="Video title" class="video-title"><h4>Video title</h4></a>
                    <a href="javascript:;" title="Edit video" class="btn btn-border-black">編集</a>
                </div>
                <a href="javascript:;" class="star"><i class="icon icon-star"></i></a>
            </div>
        </li>
    </ul>
</div>
<!-- ./Video list -->