<!-- Video list -->
<div class="container-fluid clearfix container-video-table row p0">
    <!-- table-responsive -->
    <div class="table-responsive mt15">
        <table class="table table-striped table-videos">
            <thead>
            <tr>
                <th width="8%" class="text-right">
                    <input class="cus-cb" type="checkbox">
                    <label class="cus-cb-label"></label>
                </th>
                <th>
                    <a href="javascript:;"><i class="icon icon-star selected"></i></a>
                </th>
                <th></th>
                <th><a href="javascript:;"><i class="icon icon-sort sorted"></i> タイトル</a></th>
                <th width="10%"><a href="javascript:;"><i class="icon icon-sort"></i> 元言語</a></th>
                <th width="10%"><a href="javascript:;"><i class="icon icon-sort"></i> 公開設定</a></th>
                <th width="10%"><a href="javascript:;"><i class="icon icon-sort"></i> 進行中</a></th>
                <th width="14%"><a href="javascript:;"><i class="icon icon-sort"></i> アップロード日</a></th>
                <th class="text-center"><a href="javascript:;" class="btn btn-border-white-bg"><i class="fa fa-trash"></i></a></th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="8%" class="text-right">
                    <input class="cus-cb" type="checkbox">
                    <label class="cus-cb-label"></label>
                </td>
                <td>
                    <a href="javascript:;"><i class="icon icon-star selected"></i></a>
                </td>
                <td>
                    <a href="javascript:;">
                        <img class="thumb-img" alt="thumbnail" width="120" height="75" src="assets/img/sample3.jpeg"/>
                    </a>
                </td>
                <td><a class="video-title">Video Title long version
title</a></td>
                <td><span class="language">Español (Latinoamérica)</span></td>
                <td><span class="dept">総務部</span></td>
                <td>
                    <span class="edit-status">修正中</span>
                </td>
                <td>2016/11/09</td>
                <td><a href="javascript:;" class="btn btn-blue">編集</a></td>
            </tr>
            <tr>
                <td width="8%" class="text-right">
                    <input class="cus-cb" type="checkbox">
                    <label class="cus-cb-label"></label>
                </td>
                <td>
                    <a href="javascript:;"><i class="icon icon-star"></i></a>
                </td>
                <td>
                    <a href="javascript:;">
                        <img class="thumb-img" alt="thumbnail" width="120" height="75" src="assets/img/sample2.jpeg"/>
                    </a>
                </td>
                <td><a class="video-title">Video Title </a></td>
                <td><span class="language">中文 (香港)</span></td>
                <td><span class="dept">総務部</span></td>
                <td><span class="edit-status">完了</span></td>
                <td>2016/11/09</td>
                <td><a href="javascript:;" class="btn btn-blue">編集</a></td>
            </tr>
            </tbody>
        </table>
    </div> <!-- ./table-responsive -->
</div>
<!-- ./Video list -->