@mixin fadeInDown($time){
  @include  animation(fadeInDown $time);
}
@mixin fadeInUp($time){
  @include  animation(fadeInUp $time);
}
@mixin fadeIn($time){
  @include  animation(fadeIn $time);
}
@mixin fadeOutUp($time){
  @include  animation(fadeOutUp $time);
}
@mixin fadeInLeft($time){
  @include  animation(fadeInLeft $time);
}
@mixin bounceIn($time){
  @include  animation(bounceIn $time);
}
//Keyframes
@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@include keyframes(fadeInDown){
  0% {
    opacity: 0;
    @include transform(translateY(-20px));
  }
  100% {
    opacity: 1;
    @include transform(translateY(0));
  }
}
@include keyframes(fadeInUp) {
  0% {
    opacity: 0;
    @include transform(translateY(20px));
  }

  100% {
    opacity: 1;
    @include transform(translateY(0));
  }
}
@include keyframes(fadeInLeft){
  from {
    opacity: 0;
    @include transform(translate3d(-100%, 0, 0));
  }

  to {
    opacity: 1;
    @include transform(translate3d(none));
  }
}
@include keyframes(fadeOutUp) {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    @include transform(translate3d(0, -100%, 0));
  }
}
@include keyframes(bounceIn) {
  0% {
    opacity: 0;
    @include transform(scale(.3));
  }

  50% {
    opacity: 1;
    @include transform(scale(1.05));
  }

  70% {
    @include transform(scale(.9));
  }

  100% {
    @include transform(scale(1));
  }
}
@include keyframes(arrow-jump) {
  0%   { opacity: 0;}
  100% { opacity: 1;
    @include transform(translateY(10px));
  }
}
//effect
@include keyframes(gradients) {
  0%  {background-position: 0 0;}
  25% {background-position: 50% 0;}
  50% {background-position: 90% 0;}
  60% {background-position: 60%;}
  75% {background-position: 40%;}
  100%  {background-position: 0 0;}
}