.btn{
  overflow: hidden;
}
.btn-normal{
  overflow: hidden;
  text-transform: uppercase;
}
.btn-custom{
  @extend .btn-normal;
  border-radius: 0;
  padding: 11px 25px 7px 25px;
  font-size: 17px;
}
.btn-custom-sm{
  @extend .btn-normal;
  border-radius: 3px;
  padding: 7px 15px 2px 15px !important;
  font-size: 15px;
  min-width: 90px;
}
.btn-custom-xs{
  border-radius: 3px;
  padding: 5px 10px !important;
  min-width: 70px;
  font-size: 13px;
  overflow: hidden;
}
.btn-custom-md{
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  font-size: 16px;
}
.btn-oval-orange{
  padding: 5px 15px 2px!important;
  font-size: 18px;
  min-width: 115px;
  color: $c-white;
  background-color: $c-highlight;
  border-radius: 50%;
  text-transform: uppercase;
  &:hover,
  &:focus{
    color: $c-white !important;
    background-color: $c-highlight !important;
  }
}
.btn-orange{
  border: 2px solid $c-highlight;
  color: $c-white !important;
  @include button-style($c-highlight);
  &:hover,
  &:focus{
    color: $c-white !important;
  }
}
.btn-blue{
  border: 2px solid $c-blue2;
  color: $c-white !important;
  @include button-style($c-blue2);
  &:hover,
  &:focus{
    color: $c-white !important;
  }
}
.btn-grey-shadow{
  background-color: $c-bg-partner;
  color: $c-white;
  box-shadow: 2px 4px 3px rgba(0,0,0, .5);
  &:hover,
  &:focus{
    color: $c-white;
  }
}
.btn-border{
  border: 1.5px solid;
  background-color: transparent;
  &:hover,
  &:focus,
  &:active{
    opacity: .7;
    @include transition(all .3s ease);
  }
}
.btn-border-black{
  @extend .btn-border;
  border-color: $c-primary;
  color: $c-primary;
  &:hover,
  &:focus,
  &:active{
    color: $c-primary;
  }
}
.btn-border-orange{
  @extend .btn-border;
  border-color: $c-highlight;
  color: $c-orange;
}
.btn-border-blue{
  @extend .btn-border;
  border-color: #c9c9c9;
  color: $c-primary;
}
.btn-border-white-bg{
  @extend .btn-border;
  border-color: #9496a9;
  color: $c-primary;
  background-color: $c-white;
}
.btn-border-grey-bg{
  @extend .btn-border;
  border-color: #91919b;
  color: $c-primary;
  background-color: $c-bg-dropdown;
}
.btn-corner{
  position: relative;
  border-radius: 20px;
}
.btn-corner-radius{
  @extend .btn-corner;
  border: 2px solid #c6c6c6;
  @include linear-gradient-t2b(#fbfbfb, #e1e2e4);
}
.btn-corner-blue{
  @extend .btn-corner;
  background-color: $c-light-blue;
}
.btn-corner-orange{
  @extend .btn-corner;
  background-color: $c-highlight;
  color: $c-white;
  @include transition(opacity .2s);
  &:hover,
  &:focus{
    color: $c-white;
    opacity: .9;
  }
}
.btn-circle{
  @include circle(28px);
  background-color: $c-white;
  color: $c-primary;
  i{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 16px;
    line-height: 26px;
  }
  &:hover,
  &:focus,
  &:active{
    background-color: $c-highlight !important;
  }
}
.btn-flat{
  @include box-shadow(none);
  @include border-radius(0);
  &:hover,
  &:focus{
    opacity: .8;
    @include transition(opacity .3s);
  }
}
.btn-flat-black{
  @extend .btn-flat;
  background-color: $c-black;
  color: $c-white;
  text-transform: uppercase;
  font-family: $font-gill;
  letter-spacing: 3px;
  &:hover,
  &:focus{
    color: $c-white;
  }
}
.btn.disabled{
  @extend .pointer-none;
}
/*
* Custom radio button
*/

/* Radio button */
.custom-radio{
  input[type="radio"] {
    display:none;
  }
  input[type="radio"] + label{
    font-size: 14px;
    cursor: pointer;
    span {
      display:inline-block;
      width:15px;
      height:15px;
      margin:-1px 4px 0 0;
      vertical-align:middle;
      cursor:pointer;
      -moz-border-radius:  50%;
      border-radius:  50%;
      background-color: $c-white;
      border: 1px solid $c-light-grey;
    }
  }
  input[type="radio"]:checked + label{
    span{
      background-color: $c-highlight;
      border: 3px solid $c-white;
    }
  }
  &.orange-border{
    input[type="radio"]:checked + label{
      span{
        background-color: $c-white;
        border: 1px solid $c-highlight;
        position: relative;
        &:before{
          position: absolute;
          content: "";
          @include border-radius(50%);
          width: 9px;
          height: 9px;
          left: 2px;
          top: 2px;
          background-color: $c-highlight;
        }
      }
    }
  }
}