body{
  font-family: $font-family;
  font-size: $font-size;
  background-color: $c-white;
  color: $c-primary;
  line-height: 1.6;
  overflow-x: hidden;
}
html,
body{
  @extend .full-size;
  margin: 0;
}
a{
  color: $c-primary;
  &:hover,
  &:focus{
    text-decoration: none;
  }
}
a,
button,
[role="button"]{
  outline: none !important;
  text-decoration: none;
}
img{
  @extend .object-cover-center;
}
/* custom scrollbar */
@include scrollbars(.5em, $c-highlight, $c-dark-grey);
/* common class */
.full-size{
  width: 100%;
  height: 100%;
}
.absolute-center{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.object-cover-center{
  object-fit: cover;
  object-position: center;
}
.dashed-divider{
  background-image: linear-gradient(to left, $c-white 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 6px 2px;
  background-repeat: repeat-x;
  height: 4px;
}
.divider{
  width: 100%;
  height: 1px;
  background-color: $c-light-grey;
  clear: both;
  display: block;
  margin: 10px 0;
}
.divider-o{
  width: 100%;
  height: 1px;
  background-color: $c-grey;
  clear: both;
  display: block;
  margin: 10px 0;
  position: relative;
  &:after{
    content: "•";
    right: -5px;
    position: absolute;
    top: -31px;
    font-size: 40px;
    color: $c-grey;
  }
}
.ellipsis{
 @include ellipsis(3.2em,2);
}
.orange-link{
  cursor: pointer;
  color: $c-highlight;
  &:hover,
  &:focus{
    color: $c-highlight;
  }
}
.blue-link{
  cursor: pointer;
  color: $c-blue;
}
.orange{
  color: $c-dark-orange;
}
.blue{
  color: $c-blue2;
}
/* padding */
.p0{
  padding: 0 !important;
}
.pl0{
  padding-left: 0;
}
.pr0{
  padding-right: 0;
}
.pl5{
  padding-left: 5px;
}
.pl15{
   padding-left: 15px !important;
 }
.pr15{
  padding-right: 15px !important;
}
.pl25{
  padding-left: 25px !important;
}
.pl30{
  padding-left: 30px !important;
}
.pr25{
  padding-right: 25px !important;
}
.pr30{
  padding-right: 30px !important;
}
.pr8{
  padding-right: 8px;
}
.pt15{
  padding-top: 15px;
}
/* margin */
.mt0{
  margin-top: 0;
}
.mt5{
  margin-top: 5px;
}
.m15{
  margin: 15px;
}
.m20{
  margin: 20px;
}
.m25{
  margin: 25px;
}
.mt15{
  margin-top: 15px;
}
.mt20{
  margin-top: 20px;
}
.mt25{
  margin-top: 25px;
}
.mt30{
  margin-top: 30px;
}
.mb15{
  margin-bottom: 15px;
}
.ml15 {
  margin-left: 15px;
}
.mr25{
  margin-right: 25px;
}
.mb25{
  margin-bottom: 25px;
}
/*line-height*/
.lh-md{
  line-height: 1.5;
}
/* label */
.lbl{
  @include border-radius(10px);
  padding: 1px 7px;
  font-size: 12px;
  color: $c-white;
  text-transform: uppercase;
}
.lbl-orange{
  background-color: $c-highlight;
}
.bg-blue{
  background-color: $c-blue;
}
.bg-orange{
  background-color: $c-orange;
}
.bg-grey{
  background-color: $c-light-grey;
}
.bg-dark-grey{
  background-color: $c-dark-grey;
}
/* common content */
.main-container{
  background-color: $c-white;
  height: auto;
  min-height: 100%;
  overflow: hidden;
}
/* input */
.flat{
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=search],
  textarea,
  select{
    @include border-radius(0);
    font-size: 13px !important;
    font-family: $font-helvetica;
    font-weight: 300;
    @include appearance(none);
  }
  select{
    @include linear-gradient-2(45deg, transparent, 50%, 135deg, gray, 50%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    padding-right: 30px;
    &:-ms-expand{
      display: none;
    }
  }
  .has-feedback{
    &:not(.has-error){
      &:not(.has-success){
        .form-control-feedback{
          color: $c-light-grey;
        }
      }

    }
  }

}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  @include transition("color 9999s ease-out, background-color 9999s ease-out");
  -webkit-transition-delay: 9999s !important;
}
.input-border-bottom {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent !important;
  color: white;
  box-shadow: none !important;
  padding-left: 25px;
  border-radius: 0;
  &:focus{
    outline: none;
  }
}
.input-border-bottom::-webkit-input-placeholder {
  color: transparentize(white, 0.2);
}
.input-border-bottom:-moz-placeholder {
  color: white;
  opacity: .8;
}
.input-border-bottom::-moz-placeholder {
  color: white;
  opacity: .8;
}
.input-border-bottom:-ms-input-placeholder {
  color: transparentize(white, 0.2);
}


.non-resize{
  resize: none;
}
/* border */
.border-white{
  @include border(1px, $c-white);
}
.clearfix{
  clear: both;
  float: none;
}
.white{
  color: $c-white;
}

.pointer-none{
  pointer-events: none;
}
.inline-block{
  display: inline-block;
}
.hidden{
  display: none;
}
.display-none{
  display: none;
}
[attribute=disabled]{
  pointer-events: none;
}
textarea:disabled{
  background-color: $c-light-grey !important;
}
/*
* Custom checkbox
*/
.cus-cb {
  opacity: 0;
  position: absolute;
  width: 18px;
  height: 18px;
  margin-top: 0 !important;
  margin-left: 0 !important;
}
.cus-cb, .cus-cb-label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 500;
}

.cus-cb + .cus-cb-label:before {
  content: '';
  background: $c-white;
  border: 1px solid $c-primary;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 5px 2px;
  margin-right: 3px;
  text-align: center;
}

.cus-cb:checked + .cus-cb-label:before {
  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding:0 1px;
  line-height: 1.2;
  margin-right: 3px;
}
/*
* Container
*/
.container-pr{
  max-width: 1300px;
  margin: auto;
  position: relative;
}


.font-copper {
  font-family: $font-copper;
}
.font-gill{
  font-family: $font-gill;
}
h1.title{
  @extend .font-copper;
  text-align: center;
}
h2.title{
  @extend .font-gill;
  text-align: center;
}
h3.title{
  @extend .font-copper;
}
h4.title{
  font-family: $font-copper-regular;
  font-size: 14px;
}
/* xs */
@media (max-width: $screen-xs-max){
  h1.title{
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 20px;
  }
  h2.title{
    font-size: 25px;
  }
  h2.title-lineup{
    font-size: 23px;
  }
}
/* sm - md - lg */
@media (min-width: $screen-sm-min){
  h1.title{
    margin-top: 50px;
    font-size: 28px;
  }
  h2.title{
    font-size: 38px;
  }
}

@media (min-width: $screen-lg-min) {
  .col-lg-14-2{
      width: 14.28%;
  }
}