.footer{
  padding: 24px 15px 10px 15px;
  background-color: $c-bg-footer;
  color: $c-white;
  @include  box-shadow(0 2px 6px rgba(0,0,0,.8) inset);
  p{
    margin: 0;
    font-family: $font-helvetica;
    font-weight: 300;
    font-size: 15px;
  }
  small{
    padding-top: 3px;
    font-family: $font-helvetica;
    font-weight: 300;
    font-size: 13px;
  }
}
body{
  &:not(.home) {
    .footer {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}
  //login
  .container-footer{
    background-color: $c-container-grey;
    padding: 35px 35px 20px 20px;
  }
