.ja-jp{
  .title-lineup{
    font-size: 24px;
  }
}
.container-grey{
  background-color: $c-container-grey;
  width: 100%;
  padding: 100px 0 0 0;
}
.lineup-top{
  margin-top: 35px;

}
.title-lineup{
  color: $c-black;
  margin-top: 0;
  margin-bottom: 20px;
}
.lineup-videos{
  margin-bottom: 0;
  margin-left: 20px;
  li{
    padding-right: 20px;
  }
}
.lineup-video{
  cursor: pointer;
  margin-bottom: 10px;
  width: 181px;
  height: auto;
}
.lineup-buttons{

  width: 225px;
  a{
    display: block;
    text-transform: uppercase;
    padding: 5px 5px 2px 5px;
    font-family: $font-helvetica;
    font-size: 18px;
    color: $c-black;
    font-weight: normal;
    width: 225px;
    float: right;
    margin-left: 5px;
  }
}
.btn-corner-radius{

    &:after{
      position: absolute;
      content: "";
      width: 13px;
      height: 15px;
      right: 14px;
      top: 10px;
      background: url($ic_arrow_black) no-repeat;
      background-size: 100%;
      @include transition(all .3s);
    }
 &:hover,
 &:focus{
   &:after{
     position: absolute;
     content: "";
     background: url($ic_arrow_yl) no-repeat;
     background-size: 100%;
   }
 }
}
.container-lineup{
  margin: 25px auto;
  padding-left: 25px;
  padding-right: 0;
}
.dark-divider{
  background-color: $c-bg-partner;
  margin: 0 15px;
  width: 98%;
}
//categories
.container-cate{
  padding: 0 20px;
}
.cate-list{
  margin: 30px 10px 0 15px;
  li{
    padding: 0 15px;
  }
}
.cate-name{
  font-family: $font-arial;
  font-size: 15px;
  margin-bottom: 15px;
  height: 70px;
  @include ellipsis(70px, 3);
}
.swipers{
  position: relative;
  margin-left: 45px;
  margin-right: 48px;
  min-height: 358px;
  .swiper-button{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 41%;
    background: url($ic_swiper_arrow) no-repeat;
    background-size: 75%;
    background-position: center;
  }
  .button-left{
    left: -40px;
  }
  .button-right{
    @include transform(rotate(180deg));
    right: -50px;
  }
}
.sliders{
  overflow: hidden;
  max-height: 366px;
}
.swiper-cate-detail{
  margin: 40px 10px 30px 5px;
  a{
    display: block;
  }
  .swiper-slide{
    cursor: pointer;
  }
}
.cate-img{
  width: 91.881px;
}
/*
* Container banner
*/
.container-banner{
  background: $c-white url($bg-banner_world) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 380px;
  padding-bottom: 15px;
  margin-top: 45px;
  .title{
    margin-top: 50px;
    padding-top: 40px;
    padding-left: 50px;
  }
}
.text-border-white{
  color: $c-black;
  font-size: 20px;
  padding-left: 15px;
  //text-shadow: -1px 0 $c-white,0 1px $c-white,1px 0 $c-white,0 -1px $c-white;
}
/*
* Container partner
*/
.container-partner{
  background: $c-bg-partner url($ic_globe) no-repeat;
  background-position: 55px bottom;
  min-height: 200px;
  padding: 30px 30px 30px 55px;
  .title{
    color: $c-white;
  }
  .btn-corner-radius{
    margin-top: 60px;
  }
}
.container-banner,
.container-partner{
  .btn-corner-radius{
    display: block;
    padding: 5px 5px 4px 5px;
    font-family: $font-helvetica;
    font-size: 18.5px;
    color: $c-black;
    width: 225px;
    margin-left: 5px;
    margin-bottom: 15px;
  }
}
.partner-list{
  padding-left: 100px;
  margin-top: 10px;
  li{
    margin-left: 10px;
  }
}
.promo-go-top {
  position: fixed;
  bottom: 7em;
  right: 0;
  text-decoration: none;
  color: $c-black;
  background-color: rgba(235, 235, 235, 0.8);
  font-size: 1em;
  padding: 1em;
  display: none;
}
//Responsive
@media (max-width: ($screen-promo - 1)){
  .lineup-buttons{
    margin-right: 25px;
  }
  .container-partner{
    .btn-corner-radius{
      margin-right: 25px;
    }
  }
}
@media (min-width: $screen-promo){
  .container-grey{
    .container{
      width: 1070px;
    }
  }
  .container-banner,
  .container-partner{
    .container{
      width: 1200px;
    }
  }
  .lineup-buttons{
    margin-right: -45px;
  }

}
