//Icon for input
.ic-input{
  width: 18px;
  height: 18px;
  position: absolute;
  top: 7px;
  left: 0;
}
.social-icons{
  background: url($ic_social) no-repeat;
  width: 37px;
  height: 36px;
  display: block;
  &.yt{
    background-position: 0 0;
  }
  &.fb {
    background-position: -51px 0;
  }
  &.tw{
    background-position: -102px 0;
  }
  &.in{
    background-position: -153px 0;
  }
}
//Sprite icons
.icon{
  display: inline-block;
  vertical-align: middle;
}
.icon-block{
  display: block;
  vertical-align: middle;
}
.mn{
  &.active{
    .icon-upload {
      @include sprite($upload-hv);
    }
    .icon-video {
      @include sprite($video-hv);
    }
    .icon-company {
      @include sprite($company-hv);
    }
    .icon-security {
      @include sprite($security-hv);
    }
    .icon-address {
      @include sprite($address-hv);
    }
    .icon-contact {
      @include sprite($contact-hv);
    }
    .icon-price {
      @include sprite($price-hv);
    }
  }
  &:not(.active){
    .icon-upload {
      @include sprite($upload);
    }
    .icon-video {
      @include sprite($video);
    }
    .icon-company {
      @include sprite($company);
    }
    .icon-security {
      @include sprite($security);
    }
    .icon-address {
      @include sprite($address);
    }
    .icon-contact {
      @include sprite($contact);
    }
    .icon-price {
      @include sprite($price);
    }
  }
}
.icon-upload-lg {
  @include sprite($upload-lg);
}
.icon-video-lg {
  @include sprite($video-lg);
}
.icon-company-lg {
  @include sprite($company-lg);
}
.icon-security-lg {
  @include sprite($sercurity-lg);
}
.icon-address-lg {
  @include sprite($address-lg);
}
.icon-contact-lg {
  @include sprite($contact-lg);
}
.icon-price-lg {
  @include sprite($price-lg);
}
.icon-camera{
  @include sprite($ic-camera);
}
.icon-add{
  @include sprite($ic-add);
}
.icon-logo {
  @include sprite($ic-logo);
}
.icon-upload-orange{
  @include sprite($ic-upload);
}
.icon-add-lang{
  @include sprite($ic-add-lang);
}
.icon-edit{
  @include sprite($ic-edit);
}
.icon-save{
  @include sprite($ic-save);
}
.icon-cancel{
  @include sprite($ic-cancel);
}
.icon-view{
  @include sprite($ic-view);
}
.icon-grid{
  @include sprite($ic-grid);
}
.icon-list{
  @include sprite($ic-list);
}
.icon-grid-sm{
  @include sprite($ic-grid-sm);
}
.icon-star{
  &.selected{
    @include sprite($ic-star-yl);
    &:hover{
      @include sprite($ic-star);
    }
  }
  &:not(.selected){
    @include sprite($ic-star);
    &:hover{
      @include sprite($ic-star-yl);
    }
  }
}
.icon-sort{
  &.sorted{
    @include sprite($ic-sort-blue);
  }
  &:not(.sorted){
    @include sprite($ic-sort);
  }
}