.container-login{
  background-color: $c-container-login;
  width: 100%;
  padding: 92px 0 0 0;
  font-family: $font-gill;
  .title-login{
    letter-spacing: 3px;
    margin: 25px 0;
  }
}
.login-content{
  padding-bottom: 100px;
}
.login-form{
  @extend .font-gill;
  text-align: left;
  label{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
  }
  .btn{
    font-weight: 300;
    padding: 7px 25px 5px 25px;
    margin-top: 15px;
  }
}
.login-bottom{
  margin: 30px 0;
  .divider{
    background-color: $c-primary;
    margin: 30px 0;
  }
}
a.login-link{
  border-bottom: 1px solid $c-primary;
  letter-spacing: 2px;
  color: $c-primary;
  text-transform: uppercase;
  line-height: 1.21;
  &:hover,
  &:focus{
    color: $c-primary;
    text-decoration: none;
  }
}
.bg-login{
  background: url($bg_login) no-repeat;
  background-position: center;
  background-size: cover;

}
/* xs */
@media (max-width: $screen-xs-max){
  .bg-login{
    min-height: 600px;
    width: 100%;
  }
}
/* sm */
@media (min-width: $screen-sm-min){
  .bg-login{
    position: fixed;
    width: 420px;
    top: 0;
    bottom: 0;
  }
}
