.modal-backdrop.in{
  opacity: .7 !important;
}
.custom-modal{
  font-family: $font-helvetica;
  &.grey-header{
    .modal-header {
      background-color: #303135;
    }
  }
  &:not(.grey-header){
    .modal-header{
      background-color: $c-highlight;
      text-transform: uppercase;
    }
  }
  &.confirm{
    .modal-header{
      background-color: #ed432f;
    }
  }
  &.announce{
    .modal-header{
      background-color: $c-highlight;
      text-transform: none;
    }
  }

  .modal-header{
    color: $c-white;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .close{
      color: $c-white;
    }
  }
  .modal-content{
    border-radius: 10px;
  }
  .modal-body{
    .area-des{
      height: 120px;
    }
    &:not(.modal-confirm){
      min-height: 200px;
      padding: 10px;
    }
    &.modal-confirm{
      padding: 25px 30px;
    }
  }
  .modal-footer{
    border-top: 0;
  }
}
.custom-modal-nobg{

  .modal-dialog {
    @media (max-width: $screen-xs-max){
      video{
        width: 100%;
        height: 300px;
      }
    }
    @media (min-width: $screen-sm-min){
      width: 700px;
      video{
        width: 640px;
        height: 368px;
      }
    }
  }
  .modal-content{
    background-color: transparent;
    box-shadow: none;
    border: 0;
  }
  .modal-header{
    border: 0;
  }
}