
//nav
.avatar{
  @include border-radius(50%);
  @include transition(all, .3s);
  &:hover{
    opacity: .8;
  }
}
.navbar-custom{
  .navbar-right{
    >li{
      &:last-child{
        margin-top: 10px;
        .icon-lang{
          padding: 10px 10px 10px 13px;
        }
        &.open{
          .icon-lang{
            background-color: $c-white;
            color: $c-primary;
          }
        }
      }
    }
  }
  .container-pr{
    margin-top: 18px;
  }
  .input-search{
    height: 29px;
  }
  .navbar-brand{
    padding-left: 10px;
  }
  li.selected{
    a{
      color: $c-highlight !important;
      text-decoration: none !important;
    }
  }
  >.container{

    @media (min-width: $screen-lg-desktop-min){
      width: 1400px;
    }
  }
  .avatar{
    width: 32px;
    height: 32px;
    margin-top: 7px;
  }
  // dropdown avatar
  .open{
    a.dropdown-toggle{
      background-color: transparent;
      &:focus{
        background-color: transparent;
      }
    }
    .dropdown-menu{
      @include fadeIn(.4s);
      padding-bottom: 0;
      li{
        a{
          padding-top: 8px;
          padding-bottom: 8px;
          &:hover,
          &:focus{
            @include transition(all, .2s);
            .fa{
              color: $c-white;
            }
          }
        }
      }
      .dropdown-bottom{
        border-top: 1px solid $c-light-grey;
        margin-top: 10px;
      }
      &:before{
        position: absolute;
        background: url($ic_arrow) no-repeat;
        content: "";
        width: 50px;
        height: 33px;
        background-size: 50%;
        top: -13px;
        right: -9px;
      }
    }
  }
  li {
    a {
      &:hover,
      &:focus{
        background-color: transparent;
      }
    }
  }
  @include border-radius(0);
  position: fixed;
  top: 0; right: 0; left: 0;
  z-index: 99;
  @include  fadeIn(.2s);
  .icon{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .btn-oval-orange{
    margin: 25px 10px 15px 0;
  }
  .text{
    text-transform: uppercase;
    padding-top: 30px;
    padding-left: 21px;
    padding-right: 25px;
    font-size: 18px;
    line-height: 1.2;
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
      padding-left: 0px;
      padding-right: 0px;
      font-size: 15px;
    }

  }
  .icon-lang{
    .fa-globe{
      font-size: 37px;
      vertical-align: middle;
    }
    .selected-lang{
      padding-right: 5px;
      font-size: 17px;
      vertical-align: middle;
      padding-left: 3px;
      white-space: nowrap;
      width: 72px;
      text-overflow: ellipsis;
      text-align: right;
      display: inline-block;
      height: 20px;
      overflow: hidden;
      font-family: $font-helvetica;
      font-weight: 300;
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
        font-size: 16px;
      }
    }
    .fa-caret-down{
      font-size: 18px;
      vertical-align: middle;
    }
  }
  .text{
    &:hover,
    &:focus,
    &:active{
      color: $c-highlight;
      background-color: transparent !important;
    }
  }
  .btn-circle{
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    width: 32px;
    height: 32px;
  }
  /* Block language and search*/
  .navbar-dark{
    display: none;
    background-color: transparentize($c-black, .2);
    min-height: 88px;
    .divider{
      opacity: .8;
    }
    h5{
      color: $c-grey;
    }
    a{
      color: $c-white;
      padding-right: 20px;
    }
  }
  /* Search */
  .search-cate-list{
    padding-top: 10px;
    margin-top: 20px;
    li{
      padding: 4px 20px 5px 0;
      font-size: 13px;
      /* xs */
      @media (max-width: $screen-xs-max){
        padding-right: 4px;
      }
      a{
        color: #f2f2f2;
        &:hover,
        &:focus{
          text-decoration: none;
        }
      }

    }
  }
  a.btn-oval-orange{
    &:hover,
    &:focus{
      color: $c-white !important;
      background-color: $c-highlight !important;
    }
  }
}
.search-group{
  /* xs */
  @media (max-width: $screen-xs-max){
    width: 100%;
    margin: auto;
    text-align: center;
    .input-border-bottom{
      border-bottom-color: $c-primary;
      color: $c-primary;
    }
  }
}
.input-search.input-border-bottom{
  padding-left: 5px;
  min-width: 180px;
}
/* responsive */
/* xs */
@media (max-width: $screen-xs-max){
  .navbar-custom{
    &.home {
      background-color: $c-dark-grey;
      .navbar-toggle{
        .icon-bar{
          background-color: $c-white;
        }
      }
    }
    &:not(.home){
      background-color: $c-dark-grey;
      .navbar-toggle{
        .icon-bar{
          background-color: $c-white;
        }
      }
    }
    li {
      display: inline-block;
      a {
        display: inline-block;
      }
    }
    .btn-circle{
      background-color: $c-light-grey;
    }
    .text,
    .icon-lang {
      color: $c-primary;
    }
    .icon-lang {
      padding-top: 9px;
    }
    #myNavbar{
      overflow: visible;
    }
    .open{
      .dropdown-menu{
        display: block;
        position: absolute;
        @include border(1px, #ccc);
        @include box-shadow(0 6px 12px rgba(0,0,0,.175));
        background-color: $c-white;
        .dropdown-bottom{
          display: block;
        }
        &:before{
          left: 17px;
        }
        li,
        a{
          display: block;
        }
      }
    }
  }
  .navbar-collapse{
    background-color: $c-white;
    &:not(.sidebar){
      @include  fadeInDown(.2s);
    }
    &.sidebar{
      @include  fadeInLeft(.5s);
    }
  }
  .navbar-brand{
    img{
      width: 125px;
    }
  }
  .navbar-nav{
    text-align: center;
  }
  .dropdown-lang{
    left: -120px;
  }
}
/* sm - md - lg */
@media (min-width: $screen-sm-min){
  .navbar-custom{
    &.home{
      background-color: transparent;
      &.show{
        @include  box-shadow(1px 2px 6px rgba(0,0,0,.5));
        background-color: $c-dark-grey;
        border-bottom: 1px solid $c-primary;
        .text,
        .icon-lang{
          color: $c-white;
        }
        .btn-circle{
          background-color: $c-light-grey;
        }
      }
    }
    &:not(.home){
      background-color: $c-dark-grey;
      @include  box-shadow(1px 2px 6px rgba(0,0,0,.5));
    }
    .text,
    .icon-lang {
      color: $c-white;
    }
    .icon-lang {
      padding-top: 20px;
    }
  }
}
.icon-dubu{
  width: 20px;
  height: 22px;
  background: url($ic_dubu) no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
}
.user-menu{
  width: 280px;
  padding-top: 20px;
  display: none;
  li{
    display: block;
    a{
      font-size: 14px;
      display: block;
      padding-left: 15px;
      padding-right: 10px;
    }
    margin-bottom: 3px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .bg-dark-grey{
    color: $c-white;
    .fa{
      margin-right: 10px;
      padding-left: 3px;
      color: $c-highlight;
      &.fa-envelope{
        font-size: 18px;
      }
      &:not(.fa-envelope){
        font-size: 20px;
      }
    }
  }
}
/*
* User setting
*/
.pw-block{
  background-color: $c-dark-grey;
}
/*
* Navbar lang
*/
.dropdown-lang{
  min-width: 280px;
  top: 89%;
  border-radius: 10px 10px 0 0 !important;
  padding: 0;
  &:before{
    background: none !important;
  }
  >ul{
    li{
      padding: 0;
      text-align: center;
      &.active{
        a{
          color: $c-white;
          background-color: $c-highlight;
        }
      }
      &:not(.active){
        a{
          background-color: #c1c2c6;
        }
      }
      a{
        display: block;
        color: $c-primary;
        font-size: 15px;
        padding: 10px 5px 7px 5px;
        @include transition(all .2s);
        &:hover,
        &:focus{
          opacity: .9;
          text-decoration: none;
        }
      }
      &:first-child{
        a{
          border-top-left-radius: 10px;

        }

      }
      &:last-child{
        a{
          border-top-right-radius: 10px;
        }
      }
    }
  }
}
.nav-lang-list{
  max-height: 275px;
  overflow-x: hidden;
  overflow-y: auto;
  li{
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid $c-light-grey;
    a{
      display: block;
      padding: 12px 10px 8px 10px !important;
      color: $c-primary;
      text-decoration: none;
      &:hover,
      &:focus{
        background-color: $c-light-grey !important;
      }
    }
  }
}
.ja-jp{
  .navbar-custom{
    .btn-oval-orange{
      width: 115px;
      height: 29px;
      font-size: 15px;
      vertical-align: middle;
      padding-top: 6px !important;
      padding-left: 12px !important;
    }
  }
}
/*
* SUB HEADER
*/

.sub-header{
  padding: 10px 15px;
  background-color: $c-bg-header;
  position: fixed;
  width: 1300px;
  margin: 0 auto;
  display: none;
  z-index: 10;
  @include  box-shadow(1px 2px 6px rgba(0,0,0,.5));
  .btn-slider{
    font-size: 22px;
    color: $c-grey;
    margin-right: 10px;
    &:hover,
    &:focus{
      text-decoration: none;
    }
  }
  h4{
    display: inline-block;
    font-family: $font-helvetica;
    font-weight: bold;
  }
}
.logged-in{
  &.home, &.login, &.register {
    .sub-header{
      display: none;
    }
  }
  .sub-header{
    display: block;
  }
}
/* xs */
@media (max-width: $screen-xs-max){
  .sub-header{
    top: 70px;
  }
}
/* sm - md - lg */
@media (min-width: $screen-sm-min){
  .sub-header{
    top: 90px;
  }
}