.container-setting{
  margin: 149px 20px 0 20px;
  padding-bottom: 90px;
  min-height: 500px;
}
.acc-item{
  text-align: center;
  color: $c-primary;
  display: block;
  max-width: 200px;
  height: 220px;
  padding: 20% 10px 10px 10px;
  h4{
    font-size: 16px;
    margin-bottom: 5px;
  }

  &:hover{
    color: $c-primary;
  }
  &.disabled{
    opacity: .6;
    pointer-events: none;
  }
}
.container-acc{
  div{
    &:nth-child(1){
      &:hover {
        background-color: #f57455;
      }
    }
    &:nth-child(2){
      &:hover {
        background-color: #a0ce6b;
      }
    }
    &:nth-child(3){
      &:hover {
        background-color: #ffcf55;
      }
    }
    &:nth-child(4){
      &:hover {
        background-color: $c-dark-pink;
      }
    }
    &:nth-of-type(5){
      &:hover {
        background-color: #4cc1ec;
      }
    }
    &:nth-child(6){
      &:hover {
        background-color: #f79c81;
      }
    }
    &:nth-child(7){
      &:hover {
        background-color: #a591c6;
      }
    }
  }
}
/*
* Tab setting
*/
.nav-setting{
  li{
    margin-top: 0 !important;
    &.active {
      a{
        background-color: $c-tab-active;
      }
    }
    &:not(.active){
      a{
        &:hover{
          background-color: transparent !important;
        }
      }
    }
    a{
      color: $c-light-blue;
    }
    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
  }
}
.tab-setting{
  min-height: 400px;
  padding-top: 10px;
  .icon-view{
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
.form-setting{
  font-weight: 200;
  margin-top: 20px;
  .control-label {
      font-size: 13px;
      color: $c-bg-footer;
      font-weight: 200;
    }
  .btn-corner-blue{
    color: $c-white;
    min-width: 110px;
    padding: 4px 12px;
    font-size: 11px;
    margin-top: 10px;
  }
  p{
    margin-bottom: 0;
  }
}
/*
* Upload avatar
*/
.avatar-block{
  position: relative;
  &:hover{
    .avatar-cover{
      display: block;
      @include transition(display .4s);
    }
  }
  .company-avatar{
    background: url($company-avatar) no-repeat;
    background-position: center;
    background-size: 90%;
    background-color: $c-primary;
    width: 100%;
    height: 100%;
  }
}
.avatar-cover{
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparentize($c-black , .5);
  color: $c-white;
  text-align: center;
  div{
    position: absolute;
    text-align: center;
    color: $c-white;
    left: 0;
    right: 0;
  }
  p{
    margin: 0;
    line-height: 1.2;
  }
  .icon-camera{
    margin: 0 auto 10px auto;
  }
}
.pr-upload{
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
}
.company-upload{
  option{
    font-size: 13px !important;
  }
}
/*
* Modal
*/
.lang-body {
  padding: 15px;
  .pr-lang-list{
    overflow-x: hidden;
    overflow-y: auto;
    height: 200px;
  }
}
.pr-lang-list{
  li{
    cursor: pointer;
    &.active{
      position: relative;
      &:before{
        position: absolute;
        content: "";
        @include sprite($ic-checked);
        left: -6px;
        top: 2px;
      }
    }
  }
}
/*
* Agency Registration
*/
.container-agency{
  margin: 88px 20px 0 20px;
  padding-bottom: 90px;
  min-height: 500px;
}
.agency-banner{
  width: 100%;
  height: 135px;
  .agency-text{
    padding-top: 35px;
  }
  .agency-title,
  .agency-partner{
    color: $c-white;
    margin-bottom: 0;
    margin-left: 7px;
  }
 .agency-title{
   @extend .font-gill;
   font-size: 17px;
   letter-spacing: 2px;
 }
  .agency-partner{
    color: $c-white;
    font-size: 15px;
    text-transform: uppercase;
  }
}
.content-agency{
  text-align: center;
  margin-top: 30px;
  .agency-welcome{
    letter-spacing: 1.5px;
  }
}
.agency-grey{
  background-color: $c-container-grey;
  padding: 15px;
  margin-top: 30px;
  h5{
    font-size: 17px;
  }
  p{
    margin-bottom: 5px;
  }
  .control-label{
    font-weight: 200 !important;
  }
}
.center-divider{
  width: 90%;
  margin: 20px auto;
}
.orange-link{
  font-family: $font-helvetica;
  font-weight: 300;
}
/*
* Address management
*/
.table-responsive{
  min-height: 400px;
  a{
    color: $c-primary;
  }
}
.level-selection{
  a{
    display: block;
  }
  .dropdown-menu{
    border-radius: 0;
    border: 0;

    width: 180px;
  }
  .dropdown-title{
    font-size: 12px;
    padding: 10px;
  }
  ul{
    background-color: $c-bg-dropdown;
    padding: 10px;
  }
}
.address-table{
  thead{
    tr th{
      border-width: 1px;
    }
  }
  tbody{
    tr td{
      border: 0;
    }
  }
}
/*
* Tab borderless
*/
.tab-borderless{
  border-bottom: 0;
  li{
    a{
      font-size: 15px;
      padding-left: 5px;
      padding-right: 25px;
    }

    &.active{
      a{
        border: 0;
        border-bottom: 5px solid $c-light-grey;
        &:hover,
        &:focus{
          border: 0;
          border-bottom: 5px solid $c-light-grey;
        }
      }
    }
    &:not(.active){
      a{
        color: $c-blue2;
        border: 0;
        background-color: transparent;
        &:hover,
        &:focus{
          border: 0;
          background-color: transparent;
        }
      }
    }
  }
}
//Responsive
@media (min-width: $screen-sm-min){
  .content-setting{
    padding: 40px 0 40px 5px;
  }
  .tab-setting {
    border-left: 1px solid rgba(0, 0, 0, .1);
  }
  .form-setting{
    .form-horizontal {
      .control-label {
        text-align: left;
      }
    }
  }
  .agency-banner {
    background: url($bg-agency) no-repeat;
    background-position: center right;
    background-color: $c-bg-agency;
  }
}
@media (min-width: $screen-lg-min) {
  .container-setting{
    .container{
      width: 864px;
    }
  }
}
@media (max-width: $screen-xs-max) {
  .company-upload{
    width: 130px;
  }
  .avatar-block{
    width: 130px;
    height: 130px;
    .avatar-cover div{
      top: 20%;
    }
  }
  .agency-banner {
    background-color: $c-bg-agency;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  .company-upload{
    width: 180px;
  }
  .avatar-block{
    width: 180px;
    height: 180px;
    .avatar-cover div{
      top: 30%;
    }
  }
  .container-agency{
    .container{
      width: 700px;
    }
  }
}
@media (min-width: $screen-md-min){
  .container-agency{
    .container{
      width: 900px;
    }
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-lg-desktop){
  .company-upload{
    width: 120px;
  }
  .avatar-block{
    width: 120px;
    height: 120px;
    .avatar-cover div{
      top: 20%;
    }
  }
}
@media (min-width: $screen-lg-desktop-min) {
  .company-upload{
    width: 180px;
  }
  .avatar-block {
    width: 180px;
    height: 180px;
    .avatar-cover div {
      top: 39%;
    }
  }
}