.sidebar{
  background-color: $c-bg-input;
  min-width: 200px;
  position: fixed;
  bottom: 0;
  display: none;
  //@include  box-shadow(inset 0 10px 10px -10px rgba(0,0,0,.6));
  .sb-top{
    padding: 15px 20px 10px 20px ;
    border-bottom: 1px solid rgba(0,0,0,.2);
  }
}
.sb-list{
  padding-top: 10px;
}
.mn{
  .fa-caret-left{
    font-size: 25px;
    @include transition(all .2s);
  }
  .icon{
    margin-right: 10px;
  }
  a{
    padding: 3px 13px;
    display: block;
    color: $c-primary;
    font-size: 13px;
    &:hover{
      background-color: $c-light-grey;
    }
  }
  a[aria-expanded="true"]{
    .fa-caret-left{
      @include transform(rotate(90deg));
    }
  }
  &.active{
    a{
      color: $c-light-blue;
    }
  }
  .child-mn{
    font-size: 11.5px;
    a{
      padding-left: 34%;
      position: relative;
    }
    &.active{
      a{
        color: $c-light-blue;
        &:before{
          content: "\f0da";
          left: 28%;
          top: -2px;
          position: absolute;
          font-family: FontAwesome;
          font-size: 19px;
        }
      }
    }
  }
}
/* xs */
@media (max-width: $screen-xs-max){
  .sidebar{
    top: 129px;
  }
}
/* sm - md - lg */
@media (min-width: $screen-sm-min){
  .sidebar{
    top: 149px;
  }
}