/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$address-lg-name: 'address-lg';
$address-lg-x: 65px;
$address-lg-y: 165px;
$address-lg-offset-x: -65px;
$address-lg-offset-y: -165px;
$address-lg-width: 65px;
$address-lg-height: 58px;
$address-lg-total-width: 302px;
$address-lg-total-height: 277px;
$address-lg-image: '../img/sprites.png';
$address-lg: (65px, 165px, -65px, -165px, 65px, 58px, 302px, 277px, '../img/sprites.png', 'address-lg', );
$company-lg-name: 'company-lg';
$company-lg-x: 130px;
$company-lg-y: 165px;
$company-lg-offset-x: -130px;
$company-lg-offset-y: -165px;
$company-lg-width: 65px;
$company-lg-height: 58px;
$company-lg-total-width: 302px;
$company-lg-total-height: 277px;
$company-lg-image: '../img/sprites.png';
$company-lg: (130px, 165px, -130px, -165px, 65px, 58px, 302px, 277px, '../img/sprites.png', 'company-lg', );
$contact-lg-name: 'contact-lg';
$contact-lg-x: 0px;
$contact-lg-y: 165px;
$contact-lg-offset-x: 0px;
$contact-lg-offset-y: -165px;
$contact-lg-width: 65px;
$contact-lg-height: 58px;
$contact-lg-total-width: 302px;
$contact-lg-total-height: 277px;
$contact-lg-image: '../img/sprites.png';
$contact-lg: (0px, 165px, 0px, -165px, 65px, 58px, 302px, 277px, '../img/sprites.png', 'contact-lg', );
$price-lg-name: 'price-lg';
$price-lg-x: 0px;
$price-lg-y: 107px;
$price-lg-offset-x: 0px;
$price-lg-offset-y: -107px;
$price-lg-width: 65px;
$price-lg-height: 58px;
$price-lg-total-width: 302px;
$price-lg-total-height: 277px;
$price-lg-image: '../img/sprites.png';
$price-lg: (0px, 107px, 0px, -107px, 65px, 58px, 302px, 277px, '../img/sprites.png', 'price-lg', );
$sercurity-lg-name: 'sercurity-lg';
$sercurity-lg-x: 65px;
$sercurity-lg-y: 107px;
$sercurity-lg-offset-x: -65px;
$sercurity-lg-offset-y: -107px;
$sercurity-lg-width: 65px;
$sercurity-lg-height: 58px;
$sercurity-lg-total-width: 302px;
$sercurity-lg-total-height: 277px;
$sercurity-lg-image: '../img/sprites.png';
$sercurity-lg: (65px, 107px, -65px, -107px, 65px, 58px, 302px, 277px, '../img/sprites.png', 'sercurity-lg', );
$upload-lg-name: 'upload-lg';
$upload-lg-x: 179px;
$upload-lg-y: 0px;
$upload-lg-offset-x: -179px;
$upload-lg-offset-y: 0px;
$upload-lg-width: 65px;
$upload-lg-height: 58px;
$upload-lg-total-width: 302px;
$upload-lg-total-height: 277px;
$upload-lg-image: '../img/sprites.png';
$upload-lg: (179px, 0px, -179px, 0px, 65px, 58px, 302px, 277px, '../img/sprites.png', 'upload-lg', );
$video-lg-name: 'video-lg';
$video-lg-x: 179px;
$video-lg-y: 58px;
$video-lg-offset-x: -179px;
$video-lg-offset-y: -58px;
$video-lg-width: 65px;
$video-lg-height: 58px;
$video-lg-total-width: 302px;
$video-lg-total-height: 277px;
$video-lg-image: '../img/sprites.png';
$video-lg: (179px, 58px, -179px, -58px, 65px, 58px, 302px, 277px, '../img/sprites.png', 'video-lg', );
$add-address-name: 'add-address';
$add-address-x: 116px;
$add-address-y: 0px;
$add-address-offset-x: -116px;
$add-address-offset-y: 0px;
$add-address-width: 63px;
$add-address-height: 63px;
$add-address-total-width: 302px;
$add-address-total-height: 277px;
$add-address-image: '../img/sprites.png';
$add-address: (116px, 0px, -116px, 0px, 63px, 63px, 302px, 277px, '../img/sprites.png', 'add-address', );
$ic-add-lang-name: 'ic-add-lang';
$ic-add-lang-x: 179px;
$ic-add-lang-y: 142px;
$ic-add-lang-offset-x: -179px;
$ic-add-lang-offset-y: -142px;
$ic-add-lang-width: 21px;
$ic-add-lang-height: 21px;
$ic-add-lang-total-width: 302px;
$ic-add-lang-total-height: 277px;
$ic-add-lang-image: '../img/sprites.png';
$ic-add-lang: (179px, 142px, -179px, -142px, 21px, 21px, 302px, 277px, '../img/sprites.png', 'ic-add-lang', );
$ic-add-name: 'ic-add';
$ic-add-x: 275px;
$ic-add-y: 161px;
$ic-add-offset-x: -275px;
$ic-add-offset-y: -161px;
$ic-add-width: 22px;
$ic-add-height: 22px;
$ic-add-total-width: 302px;
$ic-add-total-height: 277px;
$ic-add-image: '../img/sprites.png';
$ic-add: (275px, 161px, -275px, -161px, 22px, 22px, 302px, 277px, '../img/sprites.png', 'ic-add', );
$ic-camera-name: 'ic-camera';
$ic-camera-x: 62px;
$ic-camera-y: 223px;
$ic-camera-offset-x: -62px;
$ic-camera-offset-y: -223px;
$ic-camera-width: 31px;
$ic-camera-height: 25px;
$ic-camera-total-width: 302px;
$ic-camera-total-height: 277px;
$ic-camera-image: '../img/sprites.png';
$ic-camera: (62px, 223px, -62px, -223px, 31px, 25px, 302px, 277px, '../img/sprites.png', 'ic-camera', );
$ic-cancel-name: 'ic-cancel';
$ic-cancel-x: 28px;
$ic-cancel-y: 249px;
$ic-cancel-offset-x: -28px;
$ic-cancel-offset-y: -249px;
$ic-cancel-width: 28px;
$ic-cancel-height: 28px;
$ic-cancel-total-width: 302px;
$ic-cancel-total-height: 277px;
$ic-cancel-image: '../img/sprites.png';
$ic-cancel: (28px, 249px, -28px, -249px, 28px, 28px, 302px, 277px, '../img/sprites.png', 'ic-cancel', );
$ic-checked-name: 'ic-checked';
$ic-checked-x: 116px;
$ic-checked-y: 89px;
$ic-checked-offset-x: -116px;
$ic-checked-offset-y: -89px;
$ic-checked-width: 18px;
$ic-checked-height: 18px;
$ic-checked-total-width: 302px;
$ic-checked-total-height: 277px;
$ic-checked-image: '../img/sprites.png';
$ic-checked: (116px, 89px, -116px, -89px, 18px, 18px, 302px, 277px, '../img/sprites.png', 'ic-checked', );
$ic-edit-name: 'ic-edit';
$ic-edit-x: 0px;
$ic-edit-y: 249px;
$ic-edit-offset-x: 0px;
$ic-edit-offset-y: -249px;
$ic-edit-width: 28px;
$ic-edit-height: 28px;
$ic-edit-total-width: 302px;
$ic-edit-total-height: 277px;
$ic-edit-image: '../img/sprites.png';
$ic-edit: (0px, 249px, 0px, -249px, 28px, 28px, 302px, 277px, '../img/sprites.png', 'ic-edit', );
$ic-grid-sm-name: 'ic-grid-sm';
$ic-grid-sm-x: 275px;
$ic-grid-sm-y: 187px;
$ic-grid-sm-offset-x: -275px;
$ic-grid-sm-offset-y: -187px;
$ic-grid-sm-width: 21px;
$ic-grid-sm-height: 21px;
$ic-grid-sm-total-width: 302px;
$ic-grid-sm-total-height: 277px;
$ic-grid-sm-image: '../img/sprites.png';
$ic-grid-sm: (275px, 187px, -275px, -187px, 21px, 21px, 302px, 277px, '../img/sprites.png', 'ic-grid-sm', );
$ic-grid-name: 'ic-grid';
$ic-grid-x: 275px;
$ic-grid-y: 135px;
$ic-grid-offset-x: -275px;
$ic-grid-offset-y: -135px;
$ic-grid-width: 22px;
$ic-grid-height: 22px;
$ic-grid-total-width: 302px;
$ic-grid-total-height: 277px;
$ic-grid-image: '../img/sprites.png';
$ic-grid: (275px, 135px, -275px, -135px, 22px, 22px, 302px, 277px, '../img/sprites.png', 'ic-grid', );
$ic-list-name: 'ic-list';
$ic-list-x: 200px;
$ic-list-y: 142px;
$ic-list-offset-x: -200px;
$ic-list-offset-y: -142px;
$ic-list-width: 21px;
$ic-list-height: 21px;
$ic-list-total-width: 302px;
$ic-list-total-height: 277px;
$ic-list-image: '../img/sprites.png';
$ic-list: (200px, 142px, -200px, -142px, 21px, 21px, 302px, 277px, '../img/sprites.png', 'ic-list', );
$ic-logo-name: 'ic-logo';
$ic-logo-x: 244px;
$ic-logo-y: 0px;
$ic-logo-offset-x: -244px;
$ic-logo-offset-y: 0px;
$ic-logo-width: 58px;
$ic-logo-height: 58px;
$ic-logo-total-width: 302px;
$ic-logo-total-height: 277px;
$ic-logo-image: '../img/sprites.png';
$ic-logo: (244px, 0px, -244px, 0px, 58px, 58px, 302px, 277px, '../img/sprites.png', 'ic-logo', );
$ic-remove-name: 'ic-remove';
$ic-remove-x: 275px;
$ic-remove-y: 109px;
$ic-remove-offset-x: -275px;
$ic-remove-offset-y: -109px;
$ic-remove-width: 22px;
$ic-remove-height: 22px;
$ic-remove-total-width: 302px;
$ic-remove-total-height: 277px;
$ic-remove-image: '../img/sprites.png';
$ic-remove: (275px, 109px, -275px, -109px, 22px, 22px, 302px, 277px, '../img/sprites.png', 'ic-remove', );
$ic-save-name: 'ic-save';
$ic-save-x: 273px;
$ic-save-y: 58px;
$ic-save-offset-x: -273px;
$ic-save-offset-y: -58px;
$ic-save-width: 28px;
$ic-save-height: 28px;
$ic-save-total-width: 302px;
$ic-save-total-height: 277px;
$ic-save-image: '../img/sprites.png';
$ic-save: (273px, 58px, -273px, -58px, 28px, 28px, 302px, 277px, '../img/sprites.png', 'ic-save', );
$ic-sort-blue-name: 'ic-sort-blue';
$ic-sort-blue-x: 152px;
$ic-sort-blue-y: 89px;
$ic-sort-blue-offset-x: -152px;
$ic-sort-blue-offset-y: -89px;
$ic-sort-blue-width: 18px;
$ic-sort-blue-height: 17px;
$ic-sort-blue-total-width: 302px;
$ic-sort-blue-total-height: 277px;
$ic-sort-blue-image: '../img/sprites.png';
$ic-sort-blue: (152px, 89px, -152px, -89px, 18px, 17px, 302px, 277px, '../img/sprites.png', 'ic-sort-blue', );
$ic-sort-name: 'ic-sort';
$ic-sort-x: 134px;
$ic-sort-y: 89px;
$ic-sort-offset-x: -134px;
$ic-sort-offset-y: -89px;
$ic-sort-width: 18px;
$ic-sort-height: 17px;
$ic-sort-total-width: 302px;
$ic-sort-total-height: 277px;
$ic-sort-image: '../img/sprites.png';
$ic-sort: (134px, 89px, -134px, -89px, 18px, 17px, 302px, 277px, '../img/sprites.png', 'ic-sort', );
$ic-star-yl-name: 'ic-star-yl';
$ic-star-yl-x: 221px;
$ic-star-yl-y: 142px;
$ic-star-yl-offset-x: -221px;
$ic-star-yl-offset-y: -142px;
$ic-star-yl-width: 20px;
$ic-star-yl-height: 20px;
$ic-star-yl-total-width: 302px;
$ic-star-yl-total-height: 277px;
$ic-star-yl-image: '../img/sprites.png';
$ic-star-yl: (221px, 142px, -221px, -142px, 20px, 20px, 302px, 277px, '../img/sprites.png', 'ic-star-yl', );
$ic-star-name: 'ic-star';
$ic-star-x: 282px;
$ic-star-y: 87px;
$ic-star-offset-x: -282px;
$ic-star-offset-y: -87px;
$ic-star-width: 20px;
$ic-star-height: 20px;
$ic-star-total-width: 302px;
$ic-star-total-height: 277px;
$ic-star-image: '../img/sprites.png';
$ic-star: (282px, 87px, -282px, -87px, 20px, 20px, 302px, 277px, '../img/sprites.png', 'ic-star', );
$ic-upload-name: 'ic-upload';
$ic-upload-x: 0px;
$ic-upload-y: 0px;
$ic-upload-offset-x: 0px;
$ic-upload-offset-y: 0px;
$ic-upload-width: 116px;
$ic-upload-height: 107px;
$ic-upload-total-width: 302px;
$ic-upload-total-height: 277px;
$ic-upload-image: '../img/sprites.png';
$ic-upload: (0px, 0px, 0px, 0px, 116px, 107px, 302px, 277px, '../img/sprites.png', 'ic-upload', );
$ic-video-name: 'ic-video';
$ic-video-x: 244px;
$ic-video-y: 58px;
$ic-video-offset-x: -244px;
$ic-video-offset-y: -58px;
$ic-video-width: 29px;
$ic-video-height: 29px;
$ic-video-total-width: 302px;
$ic-video-total-height: 277px;
$ic-video-image: '../img/sprites.png';
$ic-video: (244px, 58px, -244px, -58px, 29px, 29px, 302px, 277px, '../img/sprites.png', 'ic-video', );
$ic-view-name: 'ic-view';
$ic-view-x: 244px;
$ic-view-y: 87px;
$ic-view-offset-x: -244px;
$ic-view-offset-y: -87px;
$ic-view-width: 38px;
$ic-view-height: 22px;
$ic-view-total-width: 302px;
$ic-view-total-height: 277px;
$ic-view-image: '../img/sprites.png';
$ic-view: (244px, 87px, -244px, -87px, 38px, 22px, 302px, 277px, '../img/sprites.png', 'ic-view', );
$address-hv-name: 'address-hv';
$address-hv-x: 195px;
$address-hv-y: 165px;
$address-hv-offset-x: -195px;
$address-hv-offset-y: -165px;
$address-hv-width: 31px;
$address-hv-height: 26px;
$address-hv-total-width: 302px;
$address-hv-total-height: 277px;
$address-hv-image: '../img/sprites.png';
$address-hv: (195px, 165px, -195px, -165px, 31px, 26px, 302px, 277px, '../img/sprites.png', 'address-hv', );
$address-name: 'address';
$address-x: 130px;
$address-y: 133px;
$address-offset-x: -130px;
$address-offset-y: -133px;
$address-width: 31px;
$address-height: 26px;
$address-total-width: 302px;
$address-total-height: 277px;
$address-image: '../img/sprites.png';
$address: (130px, 133px, -130px, -133px, 31px, 26px, 302px, 277px, '../img/sprites.png', 'address', );
$company-hv-name: 'company-hv';
$company-hv-x: 147px;
$company-hv-y: 63px;
$company-hv-offset-x: -147px;
$company-hv-offset-y: -63px;
$company-hv-width: 31px;
$company-hv-height: 26px;
$company-hv-total-width: 302px;
$company-hv-total-height: 277px;
$company-hv-image: '../img/sprites.png';
$company-hv: (147px, 63px, -147px, -63px, 31px, 26px, 302px, 277px, '../img/sprites.png', 'company-hv', );
$company-name: 'company';
$company-x: 116px;
$company-y: 63px;
$company-offset-x: -116px;
$company-offset-y: -63px;
$company-width: 31px;
$company-height: 26px;
$company-total-width: 302px;
$company-total-height: 277px;
$company-image: '../img/sprites.png';
$company: (116px, 63px, -116px, -63px, 31px, 26px, 302px, 277px, '../img/sprites.png', 'company', );
$contact-hv-name: 'contact-hv';
$contact-hv-x: 179px;
$contact-hv-y: 116px;
$contact-hv-offset-x: -179px;
$contact-hv-offset-y: -116px;
$contact-hv-width: 31px;
$contact-hv-height: 26px;
$contact-hv-total-width: 302px;
$contact-hv-total-height: 277px;
$contact-hv-image: '../img/sprites.png';
$contact-hv: (179px, 116px, -179px, -116px, 31px, 26px, 302px, 277px, '../img/sprites.png', 'contact-hv', );
$contact-name: 'contact';
$contact-x: 244px;
$contact-y: 187px;
$contact-offset-x: -244px;
$contact-offset-y: -187px;
$contact-width: 31px;
$contact-height: 26px;
$contact-total-width: 302px;
$contact-total-height: 277px;
$contact-image: '../img/sprites.png';
$contact: (244px, 187px, -244px, -187px, 31px, 26px, 302px, 277px, '../img/sprites.png', 'contact', );
$price-hv-name: 'price-hv';
$price-hv-x: 244px;
$price-hv-y: 161px;
$price-hv-offset-x: -244px;
$price-hv-offset-y: -161px;
$price-hv-width: 31px;
$price-hv-height: 26px;
$price-hv-total-width: 302px;
$price-hv-total-height: 277px;
$price-hv-image: '../img/sprites.png';
$price-hv: (244px, 161px, -244px, -161px, 31px, 26px, 302px, 277px, '../img/sprites.png', 'price-hv', );
$price-name: 'price';
$price-x: 244px;
$price-y: 135px;
$price-offset-x: -244px;
$price-offset-y: -135px;
$price-width: 31px;
$price-height: 26px;
$price-total-width: 302px;
$price-total-height: 277px;
$price-image: '../img/sprites.png';
$price: (244px, 135px, -244px, -135px, 31px, 26px, 302px, 277px, '../img/sprites.png', 'price', );
$security-hv-name: 'security-hv';
$security-hv-x: 244px;
$security-hv-y: 109px;
$security-hv-offset-x: -244px;
$security-hv-offset-y: -109px;
$security-hv-width: 31px;
$security-hv-height: 26px;
$security-hv-total-width: 302px;
$security-hv-total-height: 277px;
$security-hv-image: '../img/sprites.png';
$security-hv: (244px, 109px, -244px, -109px, 31px, 26px, 302px, 277px, '../img/sprites.png', 'security-hv', );
$security-name: 'security';
$security-x: 31px;
$security-y: 223px;
$security-offset-x: -31px;
$security-offset-y: -223px;
$security-width: 31px;
$security-height: 26px;
$security-total-width: 302px;
$security-total-height: 277px;
$security-image: '../img/sprites.png';
$security: (31px, 223px, -31px, -223px, 31px, 26px, 302px, 277px, '../img/sprites.png', 'security', );
$upload-hv-name: 'upload-hv';
$upload-hv-x: 0px;
$upload-hv-y: 223px;
$upload-hv-offset-x: 0px;
$upload-hv-offset-y: -223px;
$upload-hv-width: 31px;
$upload-hv-height: 26px;
$upload-hv-total-width: 302px;
$upload-hv-total-height: 277px;
$upload-hv-image: '../img/sprites.png';
$upload-hv: (0px, 223px, 0px, -223px, 31px, 26px, 302px, 277px, '../img/sprites.png', 'upload-hv', );
$upload-name: 'upload';
$upload-x: 195px;
$upload-y: 191px;
$upload-offset-x: -195px;
$upload-offset-y: -191px;
$upload-width: 31px;
$upload-height: 26px;
$upload-total-width: 302px;
$upload-total-height: 277px;
$upload-image: '../img/sprites.png';
$upload: (195px, 191px, -195px, -191px, 31px, 26px, 302px, 277px, '../img/sprites.png', 'upload', );
$video-hv-name: 'video-hv';
$video-hv-x: 130px;
$video-hv-y: 107px;
$video-hv-offset-x: -130px;
$video-hv-offset-y: -107px;
$video-hv-width: 31px;
$video-hv-height: 26px;
$video-hv-total-width: 302px;
$video-hv-total-height: 277px;
$video-hv-image: '../img/sprites.png';
$video-hv: (130px, 107px, -130px, -107px, 31px, 26px, 302px, 277px, '../img/sprites.png', 'video-hv', );
$video-name: 'video';
$video-x: 210px;
$video-y: 116px;
$video-offset-x: -210px;
$video-offset-y: -116px;
$video-width: 31px;
$video-height: 26px;
$video-total-width: 302px;
$video-total-height: 277px;
$video-image: '../img/sprites.png';
$video: (210px, 116px, -210px, -116px, 31px, 26px, 302px, 277px, '../img/sprites.png', 'video', );
$spritesheet-width: 302px;
$spritesheet-height: 277px;
$spritesheet-image: '../img/sprites.png';
$spritesheet-sprites: ($address-lg, $company-lg, $contact-lg, $price-lg, $sercurity-lg, $upload-lg, $video-lg, $add-address, $ic-add-lang, $ic-add, $ic-camera, $ic-cancel, $ic-checked, $ic-edit, $ic-grid-sm, $ic-grid, $ic-list, $ic-logo, $ic-remove, $ic-save, $ic-sort-blue, $ic-sort, $ic-star-yl, $ic-star, $ic-upload, $ic-video, $ic-view, $address-hv, $address, $company-hv, $company, $contact-hv, $contact, $price-hv, $price, $security-hv, $security, $upload-hv, $upload, $video-hv, $video, );
$spritesheet: (302px, 277px, '../img/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
