.upload-area{
  width: 100%;
  height: 312px;
  padding-top: 50px;
  font-family: $font-helvetica;
  background-color: $c-white;
  border: 2px solid $c-light-grey;
  position: relative;
  text-align: center;
  .input-hidden{
    position: absolute;
    left: 0; top: 0;
    height: 312px;
    width: 100%;
    opacity: 0;
    &:focus{
      outline: none;
      cursor: pointer;
    }
    z-index: 9;
  }
  i{
    padding-top: 100px;
    color: $c-grey;
  }
  #btnRemove{
    z-index: 10;
  }
}
.upload-select{
  img{
    margin-top: 73px;
  }
}
.upload-content{
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  min-height: 300px;
  width: 100%;
  z-index: 9;
}
.form-upload{
  input,
  textarea,
  select{
    border-radius: 0;
  }
  .form-group{
    margin-bottom: 7px;
  }
  .area-des{
    resize: none;
    height: 90px;
  }
  .area-tag{
    resize: none;
    height: 50px;
  }
  .glyphicon-triangle-bottom{
    //background-color: #2a2a2a;
    //border-top: .5px solid #7c7c7c;
    //border-right: .5px solid #7c7c7c;
    //border-bottom: .5px solid #7c7c7c;
    //color: #fff;
  }
  .btn-orange,
  .btn-border-blue{
    width: 120px;
    border-radius: 0;
    font-size: 13px;
    padding: 3px 10px 2px 10px;
  }
}
.btn-add-lang{
  width: 170px;
  border-radius: 10px;
  padding: 9px 10px 6px 10px;
  .icon{
    margin-right: 5px;
  }
  &:hover,
  &:focus{
    color: $c-orange !important;
  }
}
.upload-setting{
  background-color: $c-up-setting;
  padding: 10px 20px;
  margin-top: 20px;
  @include border-radius(10px);
  position: relative;
  .pr-name,
  .pr-date{
    margin-bottom: 0;
    margin-top: 5px;
    min-width: 190px;
  }
  .icon-edit,
  .name-ctr{
    margin-top: 10px;
    margin-left: 10px;
  }
  .btn-border-white-bg{
    width: 90px;
    @include border-radius(5px);
    margin-right: 20px;
  }
  .upload-top{
    margin-bottom: 5px;
  }
  .area-trans{
    resize: none;
    height: 80px;
  }
  .trans-comment{
    background-color: #e9e9e9;
    border: 1px solid $c-white;
    border-top: 7px solid $c-light-blue;
    height: 160px;
    textarea{
      width: 100%;
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
      resize: none;
      border: 0;
      background-color: #e9e9e9;
      outline: 0;
      padding: 10px 15px;
    }
  }
  .trans-opt,
  .trans-level{
    min-height: 160px;
    background-color: #e9e9e9;
    border: 1px solid $c-white;
    border-top: 7px solid $c-light-blue;
    position: relative;
    &:before{
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      left: 22px;
      top: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid $c-light-blue;
    }
  }
  .trans-opt{

    li {
      font-size: 13px;
    }
    li:not(:last-child) {
      border-bottom: 1px solid $c-white;
    }
    .radio {
      padding: 3px 5px 3px 20px;
      margin: 3px 10px 3px 15px;
    }
    label{
      font-weight: 300 !important;
    }
  }
  .trans-level{
    padding: 5px 10px;
    .cus-cb-label{
      &:before{
        background-color: $c-white;
      }
    }
  }
  .btn-border-black,
  .btn-orange,
  .btn-blue{
    @include border-radius(0);
    border-width: 1px;
    width: 140px;
    padding: 3px 12px;
  }
  .input-name,
  .name-ctr{
    display: none;
  }
}
.update-disabled{
  position: absolute;
  @include border-radius(10px);
  top: 0;
  background-color: transparentize($c-light-grey, .3);
  bottom: 0;
  left: 0;
  right: 0;
  .btn-grey-shadow{
    padding: 15px 17px;
    font-size: 23px;
    font-weight: 200;
    @include border-radius(10px);
    @include centered;
  }
  .update-disabled-top{
    color: $c-white;
    background-color: transparentize($c-purple, .3);
    text-align: center;
    margin-top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px;
    font-weight: 200;
  }
}
/*
* Progress
*/
.progress {
  position: relative;
  width: 350px;
  height: 28px;
  margin: 10px 0;
  border: 1px solid #DDD;
  padding: 1px;
  border-radius: 3px;
  display: none;
}
.bar{
  background-color: $c-light-blue;
  height: 26px;
  width: 0%;
  color: $c-primary;
  @include transition(width .3s);

}
.percent {
  position: absolute;
  display: inline-block;
  top: 6px;
  left: 48%;
  color: #333;
}
.form-control-feedback.glyphicon-triangle-bottom{
  background-color: $c-dark-grey;
  border-top: .5px solid $c-grey;
  border-right: .5px solid $c-grey;
  border-bottom: .5px solid $c-grey;
  color: $c-white !important;
}