.promo-frm {
  width: 678px;
  position: relative;
}

.video-frm {
  width: 100%;
  position: relative;
  margin-top: 40px;
  min-height: 320px;

  .select-lang {
    text-align: center;
    line-height: 32px;
    font-size: 12pt;
    background-color: #54b1d3;
    border: 2px solid #54b1d3;
    width: 124px;
    height: 36px;
    cursor: pointer;
    float: left;
    color: $c-white;
    &[data-lang="orig"] {
      color: $c-primary;
    }
  }

  .rate-block {
    width: 118px;
    height: 36px;
    left: 9px;
    float: right;
    position: relative;
  }
  .select-lang:hover {
    background-color: #187A9E;
  }

  .rating {
    border: none;
  }

  .rating label:not(.active) {
    color: $c-white;
  }

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
  }

  .ply-btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    margin: auto;
  }

  .ply-btn:hover {
    opacity: 1;
  }

  .parea {
    height: 395px;
    background-color: #000;
    position: relative;
    width: 678px;
    left: 20px;
  }

  .lineup-img {
    width: 100%;
    height: 100%;
    opacity: 1;
    cursor: pointer;
  }

  .lineup-img:hover {
    opacity: 0.8;
  }

  .player-guide {
    //width: 100%;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
  }
}

.parea {
  position: relative;
  background-color: $c-black;
  width: 100%;

}

.ply-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  margin: auto;
  &:hover {
    opacity: 1;
  }
}

.player-guide,
.thum-img {
  width: 100%;
  height: 100%;
}

.rating-blk {
  left: 698px;
  height: 395px;
  top: 0px;
  width: 320px;
  position: absolute;
  background: $c-white;
  padding: 15px;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;

  .divider {
    position: absolute;
    top: 96px;
    width: 240px;
    height: 3px;
    background-color: $c-black;
  }
}

.title-rating {
  font-family: $font-helvetica;
  color: $c-primary;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 5px;
}

.first-lang {
  text-align: center;
  line-height: 32px;
  color: $c-primary;
  font-size: 12pt;
  background-color: $c-highlight;
  border: 2px solid $c-highlight;
  width: 124px;
  height: 36px;
  cursor: pointer;
  float: left;
}

/* Rating */
.rating {
  border: none;
  label {
    color: $c-light-grey;
    padding-right: 5px;
    &.active {
      color: $c-orange;
    }
  }
  label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
    @media (max-width: $screen-sm-max) {
      font-size: 1.2em;
    }
    @media (min-width: $screen-md-min) {
      font-size: 1.4em;
    }
  }
}

/*
* Video list
*/
.container-video-list {
  li {
    margin-bottom: 20px;
  }
  .video-item {
    border: 1px solid $c-light-grey;
    overflow: hidden;
    height: 102px;
    cursor: pointer;
    position: relative;
    img {
      height: 102px;
    }
    &.selected {
      border: 5px solid #c2c2d3;
      @include border-radius(3px);
      .btn{
        background-color: $c-highlight;
        border-color: $c-highlight;
        color: $c-white;
        bottom: 20px;
      }
    }
    .icon-star{
      position: absolute;
      display: block;
      top: 7px;
      left: 10px;
    }
  }
  .video-title {
    display: block;
    h4 {
      font-size: 15px;
      margin-top: 12px;
      margin-bottom: 5px;
      @include ellipsis(2.2em, 2);
    }
  }
  .video-item-info {
    height: 102px;
    .btn {
      padding: 3px 10px 0 10px;
      font-size: 12px;
      border-radius: 0;
      width: 70px;
      position: absolute;
      right: 12px;
      bottom: 14px;
    }
  }

}

.delete {
  border: 1px solid $c-primary;
  .fa {
    color: $c-primary;
    padding: 4px 6px;
    font-size: 17px;
  }
}
