/*
* Video filter
*/
.filter-tags {
  margin-left: 15px;
  .filter-tag {
    background-color: $c-bg-dropdown;
    border: 1px solid #91919b;
    border-radius: 4px;
    padding: 4px 50px 4px 10px;
    position: relative;
    margin-right: 7px;
    span {
      max-width: 75px;
      font-size: 12px;
      @include ellipsis(1.8em, 1);
    }
    .filter-delete {
      color: $c-white;
      background-color: #8d8d95;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      width: 22px;
      bottom: 0;
      line-height: 2;
    }
  }
}

.filter-video-search {
  font-size: 11px;
  margin-top: 10px;
  .form-control-feedback {
    margin-right: -15px;
  }
  label {
    margin-top: 10px;
    font-weight: 300;
    text-align: right;
    padding-left: 0;
    padding-right: 5px;
  }
  select,
  input {
    font-size: 11px !important;
  }
  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
  div {
    padding-right: 5px;
  }
  .from {
    padding-right: 10px;
    position: relative;
    &:after {
      content: "~";
      position: absolute;
      top: 5px;
      right: -8px;
      font-size: 18px;
    }

  }
  .btn-border-grey-bg{
    @include border-radius(7px);
    font-size: 11px;
    margin-top: 5px;
    padding: 6px 5px 2px 5px;
  }
  .btn-corner-orange{
    font-size: 15px;
    padding: 6px 22px 4px 22px;
  }
}

/*
* Tab
*/
.toggle-view {
  border: 0;
  float: right;
  li {
    a {
      padding: 6px;
      &:focus,
      &:hover {
        background-color: transparent;
        border: 0;
        @include border-radius(0);
      }
    }
    &.active {
      a {
        border: 1px solid $c-grey;
        @include border-radius(0);
        background-color: $c-bg-input;
        &:focus,
        &:hover {
          background-color: $c-bg-input;
          border: 1px solid $c-grey;
          @include border-radius(0);
        }
      }
    }
  }
}

/*
* List
*/
.table-videos {
  thead > tr {
    @include linear-gradient-t2b(#f7f7f8, #dddedf);
    th, td {
      border: 0;
      vertical-align: middle;
      font-size: 11px;
      a {
        font-weight: 300;
      }
      .cus-cb-label{
        font-size: 15px;
      }
    }
  }
  tbody > tr {
    th, td {
      border: 0;
      vertical-align: middle;
    }
    &:nth-of-type(odd) {
      background-color: #f0efec;
    }
    .thumb-img {
      width: 120px;
      height: 75px;
    }
  }
  .btn-border-white-bg {
    padding: 2px 10px 0 10px;
    font-size: 15px;
  }
  .btn-blue {
    padding: 6px 15px 2px 15px;
  }
}

/*
* Panel
*/

/*
* Responsive
*/
/* xs */
@media (max-width: $screen-xs-max){
  .filter-video-search{
    .to{
      padding-left: 0;
      padding-right: 10px;
      margin-top: 10px;
    }
  }
}