
//Object style
@mixin set-size($w,$h){
  width: $w;
  height: $h;
  object-fit: cover;
  object-position: center;
}
//Background size
@mixin background-size($type){
  @include css3-prefix('background-size', $type);
}
//cross browser
@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}
//border radius
@mixin border-radius($radius: 5px) {
  @include css3-prefix('border-radius', $radius);
}
//transform
@mixin transform($params) {
  @include css3-prefix('transform', $params);
}
//transition
@mixin transition($properties...) {

  @if length($properties) >= 1 {
    @include css3-prefix('transition', $properties);
  }

  @else {
    @include css3-prefix('transition',  "all 0.2s ease-in-out 0s");
  }
}
//keyframes
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
//animation
@mixin animation($str) {
  @include css3-prefix('animation', $str);
}
//box shadow
@mixin box-shadow($params) {
  @include css3-prefix('box-shadow', $params);
}
// Background Gradient: Radial
@mixin radial-gradient($start-colour, $start-position, $center-colour, $center-position, $end-colour, $end-position) {
  background: -moz-radial-gradient(center, ellipse cover, $start-colour $start-position, $center-colour, $center-position, $end-colour $end-position);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop($start-position,$start-colour), color-stop($center-colour, $center-position), color-stop($end-position,$end-colour));
  background: -o-radial-gradient(center, ellipse cover, $start-colour $start-position,$center-colour, $center-position, $end-colour $end-position);
  background: -ms-radial-gradient(center, ellipse cover, $start-colour $start-position,$center-colour, $center-position,$end-colour $end-position);
  background: radial-gradient(ellipse at center, $start-colour $start-position,$center-colour, $center-position,$end-colour $end-position);
}
// Background Gradient: Linear - top to bottom
@mixin linear-gradient-t2b($start-colour, $end-colour) {
  background-color: $start-colour;
  background-image: -webkit-gradient(linear, left top, left bottom, from($start-colour), to($end-colour));
  background-image: -webkit-linear-gradient(top, $start-colour, $end-colour);
  background-image:    -moz-linear-gradient(top, $start-colour, $end-colour);
  background-image:     -ms-linear-gradient(top, $start-colour, $end-colour);
  background-image:      -o-linear-gradient(top, $start-colour, $end-colour);
  background-image:         linear-gradient(top, $start-colour, $end-colour);
  filter:            progid:DXImageTransform.Microsoft.gradient(start-colourStr='#{$start-colour}', end-colourStr='#{$end-colour}');
}
// Background Gradient: Linear
@mixin linear-gradient-2($deg1, $color1, $position1, $deg2, $color2, $position2) {
  background-image: -webkit-linear-gradient($deg1, $color1 $position1, $color2 $position2), linear-gradient($deg2, $color2 $position2, $color1 $position1);
  background-image:    -moz-linear-gradient($deg1, $color1 $position1, $color2 $position2), linear-gradient($deg2, $color2 $position2, $color1 $position1);
  background-image:     -ms-linear-gradient($deg1, $color1 $position1, $color2 $position2), linear-gradient($deg2, $color2 $position2, $color1 $position1);
  background-image:      -o-linear-gradient($deg1, $color1 $position1, $color2 $position2), linear-gradient($deg2, $color2 $position2, $color1 $position1);
  background-image:         linear-gradient($deg1, $color1 $position1, $color2 $position2), linear-gradient($deg2, $color2 $position2, $color1 $position1);
}
// Filter blur
@mixin filter-blur($value){
  @include css3-prefix(filter, blur(#{$value}px));
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=#{$value});
}

// Transform-orgin
@mixin transform-origin($params){
  @include css3-prefix('transform-origin', $params);
}

// Circle
@mixin circle($s){
  border-radius: 50%;
  width: $s;
  height: $s;
}
// Button color style
@mixin button-style($color, $color-hv:""){
  background-color: $color;
  &:hover,
  &:active,
  &:focus{
    background-color: darken($color, 10%) !important;
    @if ($color-hv != "") {
      color: $color-hv;
    }
    @include transition(background-color .5s ease);
  }
}
// Scrollbars
@mixin scrollbars($size, $foreground-color, $background-color) {
  ::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }
  ::scrollbar
  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
// ellipsis
@mixin ellipsis($max-height, $line-number){
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: $max-height;//em
  line-height: $max-height/$line-number;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: $line-number;
  -webkit-box-orient: vertical;
}
//appearance
@mixin appearance($type){
  @include css3-prefix('appearance', $type);
}
//border
@mixin border($size, $color){
  border: $size solid $color;
}
//box-sizing
@mixin box-sizing($param){
  @include css3-prefix('box-sizing', $param);
}
//middle
@mixin centered(){
  position: absolute;
  top: 50%;
  left: 50%;
  @include css3-prefix('transform', translate(-50%, -50%));
}