//color
$c-primary:                 #2f3133;
$c-white:                   #fff;
$c-black:                   #000;
$c-highlight:               #e76123;
$c-gray:                    #f1f3ee;
$c-light-grey:              #ddd;
$c-grey:                    #7c7c7c;
$c-dark-grey:               #2a2a2a;
$c-dark-blue:               #5e6165;
$c-blue:                    #54b1d3;
$c-navy:                    #252e41;
$c-light-navy:              #494e65;
$c-green:                   #36c57d;
$c-yellow:                  #ffd700;
$c-light-yellow:            #ecda55;
$c-pink:                    #f05e98;
$c-dark-pink:               #ec5866;
$c-orange:                  #faab18;
$c-red:                     #da4a41;
$c-dark-orange:             #ea6000;
$c-light-blue:              #46c2ee;
$-darker-grey:              #4d4d4d;
$c-bg-input:                #eaeaea;
$c-bg-header:               #e4e5ea;
$c-blue2:                   #00a0e9;
$c-tab-active:              #e4e4ea;
$c-container-grey:          #f4f4f4;
$c-grey-mint:               #83b1af;
$c-bg-partner:              #9fa0a0;
$c-bg-footer:               #3e3a39;
$c-container-login:         #dcdedd;
$c-bg-agency:               #353e49;
$c-bg-dropdown:             #e9e9f0;
$c-up-setting:              #d8d8db;
$c-purple:                  #3f51b5;

$font-size:                 14px;

//screen size
$screen-xs:                 480px !default;
$screen-xs-min:             $screen-xs !default;
$screen-sm:                 768px !default;
$screen-sm-min:             $screen-sm !default;
$screen-md:                 992px !default;
$screen-md-min:             $screen-md !default;
$screen-lg:                 1200px !default;
$screen-lg-min:             $screen-lg !default;
$screen-xs-max:             ($screen-sm-min - 1) !default;
$screen-sm-max:             ($screen-md-min - 1) !default;
$screen-md-max:             ($screen-lg-min - 1) !default;
$screen-lg-max:             1279px;
$screen-lg-desktop:         1439px;
$screen-lg-desktop-min:     1440px;
$screen-promo:              1300px;
//url
$image-path: "../img";
$ic-arrow: "#{$image-path}/ic_arrow.png";
$ic_dubu: "#{$image-path}/ic_dubu.png";
$ic_arrow_black: "#{$image-path}/ic_arrow_black.png";
$ic_arrow_yl: "#{$image-path}/ic_arrow_yellow.png";
$ic_globe: "#{$image-path}/globe.png";
$ic_swiper_arrow: "#{$image-path}/ic_swiper_arrow.png";
$ic_social: "#{$image-path}/sprite_social.png";
$company-avatar: "#{$image-path}/company_avatar.png";

$bg_banner_world: "#{$image-path}/bg_world.png";
$bg_login: "#{$image-path}/bg_login.png";
$bg_agency: "#{$image-path}/bg_agency.png";

//String replace
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}
//Font face
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}
$font-path: "../fonts";

$font-family-path: "#{$font-path}/MyriadPro-Regular";
$arial-path: "#{$font-path}/Arial";
$arial-bold-path: "#{$font-path}/Arial-Bold";
$font-light-path: "#{$font-path}/MyriadPro-Light";
$font-copper-path: "#{$font-path}/Copperplate Gothic Bold Regular";
$font-gill-path: "#{$font-path}/gillsans";
$font-copper-regular-path: "#{$font-path}/copperplate-regular";

@include font-face("Myriad Pro", $font-family-path);
@include font-face("Myriad Pro Light", $font-light-path);
@include font-face("Arial", $arial-path);
@include font-face("Arial Bold", $arial-bold-path);
@include font-face("Copperplate", $font-copper-path);
@include font-face("Gill Sans", $font-gill-path);
@include font-face("Copperplate Regular", $font-copper-regular-path);

$font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
$font-helvetica: Helvetica, sans-serif;
$font-family-light: "Myriad Pro Light", sans-serif;
$font-arial: Arial, sans-serif;
$font-arial-bold: "Arial Bold", sans-serif;
$font-copper: "Copperplate", sans-serif;
$font-gill: "Gill Sans", sans-serif;
$font-copper-regular: "Copperplate Regular", sans-serif;