@charset "UTF-8";

/*
  Dubulator - B2B
  Table of Content
==================================================

  01. Mixin
  02. Normalize
  03. Common
  04. Video
  05. Animation
  06. Sprites
  07. Icons
  08. Button
  09. Nav
  10. Footer
  11. Modal
  12. Home
  13. Login
  14. Sidebar
  15. Settings
  16. Upload
  17. Video_list
*/
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Regular.eot?") format("eot"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg#Myriad_Pro") format("svg");
}
@font-face {
  font-family: "Myriad Pro Light";
  src: url("../fonts/MyriadPro-Light.eot?") format("eot"), url("../fonts/MyriadPro-Light.ttf") format("truetype"), url("../fonts/MyriadPro-Light.svg#Myriad_Pro_Light") format("svg");
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial.eot?") format("eot"), url("../fonts/Arial.ttf") format("truetype"), url("../fonts/Arial.svg#Arial") format("svg");
}
@font-face {
  font-family: "Arial Bold";
  src: url("../fonts/Arial-Bold.eot?") format("eot"), url("../fonts/Arial-Bold.ttf") format("truetype"), url("../fonts/Arial-Bold.svg#Arial_Bold") format("svg");
}
@font-face {
  font-family: "Copperplate";
  src: url("../fonts/Copperplate Gothic Bold Regular.eot?") format("eot"), url("../fonts/Copperplate Gothic Bold Regular.ttf") format("truetype"), url("../fonts/Copperplate Gothic Bold Regular.svg#Copperplate") format("svg");
}
@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/gillsans.eot?") format("eot"), url("../fonts/gillsans.ttf") format("truetype"), url("../fonts/gillsans.svg#Gill_Sans") format("svg");
}
@font-face {
  font-family: "Copperplate Regular";
  src: url("../fonts/copperplate-regular.eot?") format("eot"), url("../fonts/copperplate-regular.ttf") format("truetype"), url("../fonts/copperplate-regular.svg#Copperplate_Regular") format("svg");
}

/*************************
* NORMALIZE
**************************/
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
details,
menu {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/**************************
* COMMON
**************************/
body {
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #fff;
  color: #2f3133;
  line-height: 1.6;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
}

a {
  color: #2f3133;
}
a:hover, a:focus {
  text-decoration: none;
}

a,
button,
[role="button"] {
  outline: none !important;
  text-decoration: none;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #e76123;
}

::-webkit-scrollbar-track {
  background: #2a2a2a;
}

::scrollbar
body {
  scrollbar-face-color: #e76123;
  scrollbar-track-color: #2a2a2a;
}

/* common class */
.full-size, html,
body {
  width: 100%;
  height: 100%;
}

.absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.object-cover-center, img {
  object-fit: cover;
  object-position: center;
}

.dashed-divider {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(33%, #fff), color-stop(0%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(right, #fff 33%, rgba(255, 255, 255, 0) 0%);
  background-image: linear-gradient(to left, #fff 33%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 6px 2px;
  background-repeat: repeat-x;
  height: 4px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  clear: both;
  display: block;
  margin: 10px 0;
}

.divider-o {
  width: 100%;
  height: 1px;
  background-color: #7c7c7c;
  clear: both;
  display: block;
  margin: 10px 0;
  position: relative;
}
.divider-o:after {
  content: "ΓÇó";
  right: -5px;
  position: absolute;
  top: -31px;
  font-size: 40px;
  color: #7c7c7c;
}

.ellipsis {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.2em;
  line-height: 1.6em;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.orange-link {
  cursor: pointer;
  color: #e76123;
}
.orange-link:hover, .orange-link:focus {
  color: #e76123;
}

.blue-link {
  cursor: pointer;
  color: #54b1d3;
}

.orange {
  color: #ea6000;
}

.blue {
  color: #00a0e9;
}

/* padding */
.p0 {
  padding: 0 !important;
}

.pl0 {
  padding-left: 0;
}

.pr0 {
  padding-right: 0;
}

.pl5 {
  padding-left: 5px;
}

.pl15 {
  padding-left: 15px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pr8 {
  padding-right: 8px;
}

.pt15 {
  padding-top: 15px;
}

/* margin */
.mt0 {
  margin-top: 0;
}

.mt5 {
  margin-top: 5px;
}

.m15 {
  margin: 15px;
}

.m20 {
  margin: 20px;
}

.m25 {
  margin: 25px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mb15 {
  margin-bottom: 15px;
}

.ml15 {
  margin-left: 15px;
}

.mr25 {
  margin-right: 25px;
}

.mb25 {
  margin-bottom: 25px;
}

/*line-height*/
.lh-md {
  line-height: 1.5;
}

/* label */
.lbl {
  border-radius: 10px;
  padding: 1px 7px;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

.lbl-orange {
  background-color: #e76123;
}

.bg-blue {
  background-color: #54b1d3;
}

.bg-orange {
  background-color: #faab18;
}

.bg-grey {
  background-color: #ddd;
}

.bg-dark-grey {
  background-color: #2a2a2a;
}

/* common content */
.main-container {
  background-color: #fff;
  height: auto;
  min-height: 100%;
  overflow: hidden;
}

/* input */
.flat input[type=text],
.flat input[type=email],
.flat input[type=password],
.flat input[type=search],
.flat textarea,
.flat select {
  border-radius: 0;
  font-size: 13px !important;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.flat select {
  background-image: -webkit-linear-gradient(45deg, transparent 50%, gray 50%), -webkit-linear-gradient(315deg, gray 50%, transparent 50%);
  background-image: -webkit-linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: -webkit-calc(100% - 20px) -webkit-calc(1em + 2px), -webkit-calc(100% - 15px) -webkit-calc(1em + 2px), -webkit-calc(100% - 2.5em) 0.5em;
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  padding-right: 30px;
}
.flat select:-ms-expand {
  display: none;
}
.flat .has-feedback:not(.has-error):not(.has-success) .form-control-feedback {
  color: #ddd;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
  transition: color 9999s ease-out, background-color 9999s ease-out;
  -webkit-transition-delay: 9999s !important;
}

.input-border-bottom {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent !important;
  color: white;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 25px;
  border-radius: 0;
}
.input-border-bottom:focus {
  outline: none;
}

.input-border-bottom::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.input-border-bottom:-moz-placeholder {
  color: white;
  opacity: .8;
}

.input-border-bottom::-moz-placeholder {
  color: white;
  opacity: .8;
}

.input-border-bottom:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.non-resize {
  resize: none;
}

/* border */
.border-white {
  border: 1px solid #fff;
}

.clearfix {
  clear: both;
  float: none;
}

.white {
  color: #fff;
}

.pointer-none, .btn.disabled {
  pointer-events: none;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.display-none {
  display: none;
}

[attribute=disabled] {
  pointer-events: none;
}

textarea:disabled {
  background-color: #ddd !important;
}

/*
* Custom checkbox
*/
.cus-cb {
  opacity: 0;
  position: absolute;
  width: 18px;
  height: 18px;
  margin-top: 0 !important;
  margin-left: 0 !important;
}

.cus-cb, .cus-cb-label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 500;
}

.cus-cb + .cus-cb-label:before {
  content: '';
  background: #fff;
  border: 1px solid #2f3133;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 5px 2px;
  margin-right: 3px;
  text-align: center;
}

.cus-cb:checked + .cus-cb-label:before {
  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 0 1px;
  line-height: 1.2;
  margin-right: 3px;
}

/*
* Container
*/
.container-pr {
  max-width: 1300px;
  margin: auto;
  position: relative;
}

.font-copper, h1.title, h3.title {
  font-family: "Copperplate", sans-serif;
}

.font-gill, h2.title, .login-form, .agency-banner .agency-title {
  font-family: "Gill Sans", sans-serif;
}

h1.title {
  text-align: center;
}

h2.title {
  text-align: center;
}

h4.title {
  font-family: "Copperplate Regular", sans-serif;
  font-size: 14px;
}

/* xs */
@media (max-width: 767px) {
  h1.title {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 20px;
  }

  h2.title {
    font-size: 25px;
  }

  h2.title-lineup {
    font-size: 23px;
  }
}

/* sm - md - lg */
@media (min-width: 768px) {
  h1.title {
    margin-top: 50px;
    font-size: 28px;
  }

  h2.title {
    font-size: 38px;
  }
}
@media (min-width: 1200px) {
  .col-lg-14-2 {
    width: 14.28%;
  }
}

/**************************
* VIDEO
**************************/
.promo-frm {
  width: 678px;
  position: relative;
}

.video-frm {
  width: 100%;
  position: relative;
  margin-top: 40px;
  min-height: 320px;
}
.video-frm .select-lang {
  text-align: center;
  line-height: 32px;
  font-size: 12pt;
  background-color: #54b1d3;
  border: 2px solid #54b1d3;
  width: 124px;
  height: 36px;
  cursor: pointer;
  float: left;
  color: #fff;
}
.video-frm .select-lang[data-lang="orig"] {
  color: #2f3133;
}
.video-frm .rate-block {
  width: 118px;
  height: 36px;
  left: 9px;
  float: right;
  position: relative;
}
.video-frm .select-lang:hover {
  background-color: #187A9E;
}
.video-frm .rating {
  border: none;
}
.video-frm .rating label:not(.active) {
  color: #fff;
}
.video-frm label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}
.video-frm .ply-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  margin: auto;
}
.video-frm .ply-btn:hover {
  opacity: 1;
}
.video-frm .parea {
  height: 395px;
  background-color: #000;
  position: relative;
  width: 678px;
  left: 20px;
}
.video-frm .lineup-img {
  width: 100%;
  height: 100%;
  opacity: 1;
  cursor: pointer;
}
.video-frm .lineup-img:hover {
  opacity: 0.8;
}
.video-frm .player-guide {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

.parea {
  position: relative;
  background-color: #000;
  width: 100%;
}

.ply-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  margin: auto;
}
.ply-btn:hover {
  opacity: 1;
}

.player-guide,
.thum-img {
  width: 100%;
  height: 100%;
}

.rating-blk {
  left: 698px;
  height: 395px;
  top: 0px;
  width: 320px;
  position: absolute;
  background: #fff;
  padding: 15px;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.rating-blk .divider {
  position: absolute;
  top: 96px;
  width: 240px;
  height: 3px;
  background-color: #000;
}

.title-rating {
  font-family: Helvetica, sans-serif;
  color: #2f3133;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 5px;
}

.first-lang {
  text-align: center;
  line-height: 32px;
  color: #2f3133;
  font-size: 12pt;
  background-color: #e76123;
  border: 2px solid #e76123;
  width: 124px;
  height: 36px;
  cursor: pointer;
  float: left;
}

/* Rating */
.rating {
  border: none;
}
.rating label {
  color: #ddd;
  padding-right: 5px;
}
.rating label.active {
  color: #faab18;
}
.rating label:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
@media (max-width: 991px) {
  .rating label:before {
    font-size: 1.2em;
  }
}
@media (min-width: 992px) {
  .rating label:before {
    font-size: 1.4em;
  }
}

/*
* Video list
*/
.container-video-list li {
  margin-bottom: 20px;
}
.container-video-list .video-item {
  border: 1px solid #ddd;
  overflow: hidden;
  height: 102px;
  cursor: pointer;
  position: relative;
}
.container-video-list .video-item img {
  height: 102px;
}
.container-video-list .video-item.selected {
  border: 5px solid #c2c2d3;
  border-radius: 3px;
}
.container-video-list .video-item.selected .btn {
  background-color: #e76123;
  border-color: #e76123;
  color: #fff;
  bottom: 20px;
}
.container-video-list .video-item .icon-star {
  position: absolute;
  display: block;
  top: 7px;
  left: 10px;
}
.container-video-list .video-title {
  display: block;
}
.container-video-list .video-title h4 {
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2.2em;
  line-height: 1.1em;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.container-video-list .video-item-info {
  height: 102px;
}
.container-video-list .video-item-info .btn {
  padding: 3px 10px 0 10px;
  font-size: 12px;
  border-radius: 0;
  width: 70px;
  position: absolute;
  right: 12px;
  bottom: 14px;
}

.delete {
  border: 1px solid #2f3133;
}
.delete .fa {
  color: #2f3133;
  padding: 4px 6px;
  font-size: 17px;
}

/**************************
* ANIMATION
**************************/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(none);
    -ms-transform: translate3d(none);
    transform: translate3d(none);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(none);
    -ms-transform: translate3d(none);
    transform: translate3d(none);
  }
}
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes arrow-jump {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@keyframes arrow-jump {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@-webkit-keyframes gradients {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 90% 0;
  }
  60% {
    background-position: 60%;
  }
  75% {
    background-position: 40%;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes gradients {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 90% 0;
  }
  60% {
    background-position: 60%;
  }
  75% {
    background-position: 40%;
  }
  100% {
    background-position: 0 0;
  }
}

/**************************
* SPRITES
**************************/

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/

/**************************
* ICON
**************************/
.ic-input {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 7px;
  left: 0;
}

.social-icons {
  background: url("../img/sprite_social.png") no-repeat;
  width: 37px;
  height: 36px;
  display: block;
}
.social-icons.yt {
  background-position: 0 0;
}
.social-icons.fb {
  background-position: -51px 0;
}
.social-icons.tw {
  background-position: -102px 0;
}
.social-icons.in {
  background-position: -153px 0;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon-block {
  display: block;
  vertical-align: middle;
}

.mn.active .icon-upload {
  background-image: url(../img/sprites.png);
  background-position: 0px -223px;
  width: 31px;
  height: 26px;
}
.mn.active .icon-video {
  background-image: url(../img/sprites.png);
  background-position: -130px -107px;
  width: 31px;
  height: 26px;
}
.mn.active .icon-company {
  background-image: url(../img/sprites.png);
  background-position: -147px -63px;
  width: 31px;
  height: 26px;
}
.mn.active .icon-security {
  background-image: url(../img/sprites.png);
  background-position: -244px -109px;
  width: 31px;
  height: 26px;
}
.mn.active .icon-address {
  background-image: url(../img/sprites.png);
  background-position: -195px -165px;
  width: 31px;
  height: 26px;
}
.mn.active .icon-contact {
  background-image: url(../img/sprites.png);
  background-position: -179px -116px;
  width: 31px;
  height: 26px;
}
.mn.active .icon-price {
  background-image: url(../img/sprites.png);
  background-position: -244px -161px;
  width: 31px;
  height: 26px;
}
.mn:not(.active) .icon-upload {
  background-image: url(../img/sprites.png);
  background-position: -195px -191px;
  width: 31px;
  height: 26px;
}
.mn:not(.active) .icon-video {
  background-image: url(../img/sprites.png);
  background-position: -210px -116px;
  width: 31px;
  height: 26px;
}
.mn:not(.active) .icon-company {
  background-image: url(../img/sprites.png);
  background-position: -116px -63px;
  width: 31px;
  height: 26px;
}
.mn:not(.active) .icon-security {
  background-image: url(../img/sprites.png);
  background-position: -31px -223px;
  width: 31px;
  height: 26px;
}
.mn:not(.active) .icon-address {
  background-image: url(../img/sprites.png);
  background-position: -130px -133px;
  width: 31px;
  height: 26px;
}
.mn:not(.active) .icon-contact {
  background-image: url(../img/sprites.png);
  background-position: -244px -187px;
  width: 31px;
  height: 26px;
}
.mn:not(.active) .icon-price {
  background-image: url(../img/sprites.png);
  background-position: -244px -135px;
  width: 31px;
  height: 26px;
}

.icon-upload-lg {
  background-image: url(../img/sprites.png);
  background-position: -179px 0px;
  width: 65px;
  height: 58px;
}

.icon-video-lg {
  background-image: url(../img/sprites.png);
  background-position: -179px -58px;
  width: 65px;
  height: 58px;
}

.icon-company-lg {
  background-image: url(../img/sprites.png);
  background-position: -130px -165px;
  width: 65px;
  height: 58px;
}

.icon-security-lg {
  background-image: url(../img/sprites.png);
  background-position: -65px -107px;
  width: 65px;
  height: 58px;
}

.icon-address-lg {
  background-image: url(../img/sprites.png);
  background-position: -65px -165px;
  width: 65px;
  height: 58px;
}

.icon-contact-lg {
  background-image: url(../img/sprites.png);
  background-position: 0px -165px;
  width: 65px;
  height: 58px;
}

.icon-price-lg {
  background-image: url(../img/sprites.png);
  background-position: 0px -107px;
  width: 65px;
  height: 58px;
}

.icon-camera {
  background-image: url(../img/sprites.png);
  background-position: -62px -223px;
  width: 31px;
  height: 25px;
}

.icon-add {
  background-image: url(../img/sprites.png);
  background-position: -275px -161px;
  width: 22px;
  height: 22px;
}

.icon-logo {
  background-image: url(../img/sprites.png);
  background-position: -244px 0px;
  width: 58px;
  height: 58px;
}

.icon-upload-orange {
  background-image: url(../img/sprites.png);
  background-position: 0px 0px;
  width: 116px;
  height: 107px;
}

.icon-add-lang {
  background-image: url(../img/sprites.png);
  background-position: -179px -142px;
  width: 21px;
  height: 21px;
}

.icon-edit {
  background-image: url(../img/sprites.png);
  background-position: 0px -249px;
  width: 28px;
  height: 28px;
}

.icon-save {
  background-image: url(../img/sprites.png);
  background-position: -273px -58px;
  width: 28px;
  height: 28px;
}

.icon-cancel {
  background-image: url(../img/sprites.png);
  background-position: -28px -249px;
  width: 28px;
  height: 28px;
}

.icon-view {
  background-image: url(../img/sprites.png);
  background-position: -244px -87px;
  width: 38px;
  height: 22px;
}

.icon-grid {
  background-image: url(../img/sprites.png);
  background-position: -275px -135px;
  width: 22px;
  height: 22px;
}

.icon-list {
  background-image: url(../img/sprites.png);
  background-position: -200px -142px;
  width: 21px;
  height: 21px;
}

.icon-grid-sm {
  background-image: url(../img/sprites.png);
  background-position: -275px -187px;
  width: 21px;
  height: 21px;
}

.icon-star.selected {
  background-image: url(../img/sprites.png);
  background-position: -221px -142px;
  width: 20px;
  height: 20px;
}
.icon-star.selected:hover {
  background-image: url(../img/sprites.png);
  background-position: -282px -87px;
  width: 20px;
  height: 20px;
}
.icon-star:not(.selected) {
  background-image: url(../img/sprites.png);
  background-position: -282px -87px;
  width: 20px;
  height: 20px;
}
.icon-star:not(.selected):hover {
  background-image: url(../img/sprites.png);
  background-position: -221px -142px;
  width: 20px;
  height: 20px;
}

.icon-sort.sorted {
  background-image: url(../img/sprites.png);
  background-position: -152px -89px;
  width: 18px;
  height: 17px;
}
.icon-sort:not(.sorted) {
  background-image: url(../img/sprites.png);
  background-position: -134px -89px;
  width: 18px;
  height: 17px;
}

/**************************
* BUTTON
**************************/
.btn {
  overflow: hidden;
}

.btn-normal, .btn-custom, .btn-custom-sm {
  overflow: hidden;
  text-transform: uppercase;
}

.btn-custom {
  border-radius: 0;
  padding: 11px 25px 7px 25px;
  font-size: 17px;
}

.btn-custom-sm {
  border-radius: 3px;
  padding: 7px 15px 2px 15px !important;
  font-size: 15px;
  min-width: 90px;
}

.btn-custom-xs {
  border-radius: 3px;
  padding: 5px 10px !important;
  min-width: 70px;
  font-size: 13px;
  overflow: hidden;
}

.btn-custom-md {
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  font-size: 16px;
}

.btn-oval-orange {
  padding: 5px 15px 2px !important;
  font-size: 18px;
  min-width: 115px;
  color: #fff;
  background-color: #e76123;
  border-radius: 50%;
  text-transform: uppercase;
}
.btn-oval-orange:hover, .btn-oval-orange:focus {
  color: #fff !important;
  background-color: #e76123 !important;
}

.btn-orange {
  border: 2px solid #e76123;
  color: #fff !important;
  background-color: #e76123;
}
.btn-orange:hover, .btn-orange:active, .btn-orange:focus {
  background-color: #c24c15 !important;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.btn-orange:hover, .btn-orange:focus {
  color: #fff !important;
}

.btn-blue {
  border: 2px solid #00a0e9;
  color: #fff !important;
  background-color: #00a0e9;
}
.btn-blue:hover, .btn-blue:active, .btn-blue:focus {
  background-color: #007db6 !important;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.btn-blue:hover, .btn-blue:focus {
  color: #fff !important;
}

.btn-grey-shadow {
  background-color: #9fa0a0;
  color: #fff;
  -webkit-box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}
.btn-grey-shadow:hover, .btn-grey-shadow:focus {
  color: #fff;
}

.btn-border, .btn-border-black, .btn-border-orange, .btn-border-blue, .btn-border-white-bg, .btn-border-grey-bg {
  border: 1.5px solid;
  background-color: transparent;
}
.btn-border:hover, .btn-border-black:hover, .btn-border-orange:hover, .btn-border-blue:hover, .btn-border-white-bg:hover, .btn-border-grey-bg:hover, .btn-border:focus, .btn-border-black:focus, .btn-border-orange:focus, .btn-border-blue:focus, .btn-border-white-bg:focus, .btn-border-grey-bg:focus, .btn-border:active, .btn-border-black:active, .btn-border-orange:active, .btn-border-blue:active, .btn-border-white-bg:active, .btn-border-grey-bg:active {
  opacity: .7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-border-black {
  border-color: #2f3133;
  color: #2f3133;
}
.btn-border-black:hover, .btn-border-black:focus, .btn-border-black:active {
  color: #2f3133;
}

.btn-border-orange {
  border-color: #e76123;
  color: #faab18;
}

.btn-border-blue {
  border-color: #c9c9c9;
  color: #2f3133;
}

.btn-border-white-bg {
  border-color: #9496a9;
  color: #2f3133;
  background-color: #fff;
}

.btn-border-grey-bg {
  border-color: #91919b;
  color: #2f3133;
  background-color: #e9e9f0;
}

.btn-corner, .btn-corner-radius, .btn-corner-blue, .btn-corner-orange {
  position: relative;
  border-radius: 20px;
}

.btn-corner-radius {
  border: 2px solid #c6c6c6;
  background-color: #fbfbfb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#e1e2e4));
  background-image: -webkit-linear-gradient(top, #fbfbfb, #e1e2e4);
  background-image: linear-gradient(top, #fbfbfb, #e1e2e4);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#fbfbfb', end-colourStr='#e1e2e4');
}

.btn-corner-blue {
  background-color: #46c2ee;
}

.btn-corner-orange {
  background-color: #e76123;
  color: #fff;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.btn-corner-orange:hover, .btn-corner-orange:focus {
  color: #fff;
  opacity: .9;
}

.btn-circle {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: #fff;
  color: #2f3133;
}
.btn-circle i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 16px;
  line-height: 26px;
}
.btn-circle:hover, .btn-circle:focus, .btn-circle:active {
  background-color: #e76123 !important;
}

.btn-flat, .btn-flat-black {
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
.btn-flat:hover, .btn-flat-black:hover, .btn-flat:focus, .btn-flat-black:focus {
  opacity: .8;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.btn-flat-black {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-family: "Gill Sans", sans-serif;
  letter-spacing: 3px;
}
.btn-flat-black:hover, .btn-flat-black:focus {
  color: #fff;
}

/*
* Custom radio button
*/

/* Radio button */
.custom-radio input[type="radio"] {
  display: none;
}
.custom-radio input[type="radio"] + label {
  font-size: 14px;
  cursor: pointer;
}
.custom-radio input[type="radio"] + label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ddd;
}
.custom-radio input[type="radio"]:checked + label span {
  background-color: #e76123;
  border: 3px solid #fff;
}
.custom-radio.orange-border input[type="radio"]:checked + label span {
  background-color: #fff;
  border: 1px solid #e76123;
  position: relative;
}
.custom-radio.orange-border input[type="radio"]:checked + label span:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  width: 9px;
  height: 9px;
  left: 2px;
  top: 2px;
  background-color: #e76123;
}

/**************************
* NAVIGATION - SUB HEADER
**************************/
.avatar {
  border-radius: 50%;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
.avatar:hover {
  opacity: .8;
}

.navbar-custom {
  border-radius: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  -webkit-animation: fadeIn 0.2s;
  animation: fadeIn 0.2s;
  
/* Block language and search*/
  
/* Search */
}
.navbar-custom .navbar-right > li:last-child {
  margin-top: 10px;
}
.navbar-custom .navbar-right > li:last-child .icon-lang {
  padding: 10px 10px 10px 13px;
}
.navbar-custom .navbar-right > li:last-child.open .icon-lang {
  background-color: #fff;
  color: #2f3133;
}
.navbar-custom .container-pr {
  margin-top: 18px;
}
.navbar-custom .input-search {
  height: 29px;
}
.navbar-custom .navbar-brand {
  padding-left: 10px;
}
.navbar-custom li.selected a {
  color: #e76123 !important;
  text-decoration: none !important;
}
@media (min-width: 1440px) {
  .navbar-custom > .container {
    width: 1400px;
  }
}
.navbar-custom .avatar {
  width: 32px;
  height: 32px;
  margin-top: 7px;
}
.navbar-custom .open a.dropdown-toggle {
  background-color: transparent;
}
.navbar-custom .open a.dropdown-toggle:focus {
  background-color: transparent;
}
.navbar-custom .open .dropdown-menu {
  -webkit-animation: fadeIn 0.4s;
  animation: fadeIn 0.4s;
  padding-bottom: 0;
}
.navbar-custom .open .dropdown-menu li a {
  padding-top: 8px;
  padding-bottom: 8px;
}
.navbar-custom .open .dropdown-menu li a:hover, .navbar-custom .open .dropdown-menu li a:focus {
  -webkit-transition: all, 0.2s;
  transition: all, 0.2s;
}
.navbar-custom .open .dropdown-menu li a:hover .fa, .navbar-custom .open .dropdown-menu li a:focus .fa {
  color: #fff;
}
.navbar-custom .open .dropdown-menu .dropdown-bottom {
  border-top: 1px solid #ddd;
  margin-top: 10px;
}
.navbar-custom .open .dropdown-menu:before {
  position: absolute;
  background: url("../img/ic_arrow.png") no-repeat;
  content: "";
  width: 50px;
  height: 33px;
  background-size: 50%;
  top: -13px;
  right: -9px;
}
.navbar-custom li a:hover, .navbar-custom li a:focus {
  background-color: transparent;
}
.navbar-custom .icon {
  margin-top: 15px;
  margin-bottom: 15px;
}
.navbar-custom .btn-oval-orange {
  margin: 25px 10px 15px 0;
}
.navbar-custom .text {
  text-transform: uppercase;
  padding-top: 30px;
  padding-left: 21px;
  padding-right: 25px;
  font-size: 18px;
  line-height: 1.2;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-custom .text {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 15px;
  }
}
.navbar-custom .icon-lang .fa-globe {
  font-size: 37px;
  vertical-align: middle;
}
.navbar-custom .icon-lang .selected-lang {
  padding-right: 5px;
  font-size: 17px;
  vertical-align: middle;
  padding-left: 3px;
  white-space: nowrap;
  width: 72px;
  text-overflow: ellipsis;
  text-align: right;
  display: inline-block;
  height: 20px;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-custom .icon-lang .selected-lang {
    font-size: 16px;
  }
}
.navbar-custom .icon-lang .fa-caret-down {
  font-size: 18px;
  vertical-align: middle;
}
.navbar-custom .text:hover, .navbar-custom .text:focus, .navbar-custom .text:active {
  color: #e76123;
  background-color: transparent !important;
}
.navbar-custom .btn-circle {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  width: 32px;
  height: 32px;
}
.navbar-custom .navbar-dark {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 88px;
}
.navbar-custom .navbar-dark .divider {
  opacity: .8;
}
.navbar-custom .navbar-dark h5 {
  color: #7c7c7c;
}
.navbar-custom .navbar-dark a {
  color: #fff;
  padding-right: 20px;
}
.navbar-custom .search-cate-list {
  padding-top: 10px;
  margin-top: 20px;
}
.navbar-custom .search-cate-list li {
  padding: 4px 20px 5px 0;
  font-size: 13px;
  
/* xs */
}
@media (max-width: 767px) {
  .navbar-custom .search-cate-list li {
    padding-right: 4px;
  }
}
.navbar-custom .search-cate-list li a {
  color: #f2f2f2;
}
.navbar-custom .search-cate-list li a:hover, .navbar-custom .search-cate-list li a:focus {
  text-decoration: none;
}
.navbar-custom a.btn-oval-orange:hover, .navbar-custom a.btn-oval-orange:focus {
  color: #fff !important;
  background-color: #e76123 !important;
}

.search-group {
  
/* xs */
}
@media (max-width: 767px) {
  .search-group {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .search-group .input-border-bottom {
    border-bottom-color: #2f3133;
    color: #2f3133;
  }
}

.input-search.input-border-bottom {
  padding-left: 5px;
  min-width: 180px;
}

/* responsive */

/* xs */
@media (max-width: 767px) {
  .navbar-custom.home {
    background-color: #2a2a2a;
  }
  .navbar-custom.home .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-custom:not(.home) {
    background-color: #2a2a2a;
  }
  .navbar-custom:not(.home) .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-custom li {
    display: inline-block;
  }
  .navbar-custom li a {
    display: inline-block;
  }
  .navbar-custom .btn-circle {
    background-color: #ddd;
  }
  .navbar-custom .text,
  .navbar-custom .icon-lang {
    color: #2f3133;
  }
  .navbar-custom .icon-lang {
    padding-top: 9px;
  }
  .navbar-custom #myNavbar {
    overflow: visible;
  }
  .navbar-custom .open .dropdown-menu {
    display: block;
    position: absolute;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -ms-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-color: #fff;
  }
  .navbar-custom .open .dropdown-menu .dropdown-bottom {
    display: block;
  }
  .navbar-custom .open .dropdown-menu:before {
    left: 17px;
  }
  .navbar-custom .open .dropdown-menu li,
  .navbar-custom .open .dropdown-menu a {
    display: block;
  }

  .navbar-collapse {
    background-color: #fff;
  }
  .navbar-collapse:not(.sidebar) {
    -webkit-animation: fadeInDown 0.2s;
    animation: fadeInDown 0.2s;
  }
  .navbar-collapse.sidebar {
    -webkit-animation: fadeInLeft 0.5s;
    animation: fadeInLeft 0.5s;
  }

  .navbar-brand img {
    width: 125px;
  }

  .navbar-nav {
    text-align: center;
  }

  .dropdown-lang {
    left: -120px;
  }
}

/* sm - md - lg */
@media (min-width: 768px) {
  .navbar-custom.home {
    background-color: transparent;
  }
  .navbar-custom.home.show {
    -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    background-color: #2a2a2a;
    border-bottom: 1px solid #2f3133;
  }
  .navbar-custom.home.show .text,
  .navbar-custom.home.show .icon-lang {
    color: #fff;
  }
  .navbar-custom.home.show .btn-circle {
    background-color: #ddd;
  }
  .navbar-custom:not(.home) {
    background-color: #2a2a2a;
    -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
  }
  .navbar-custom .text,
  .navbar-custom .icon-lang {
    color: #fff;
  }
  .navbar-custom .icon-lang {
    padding-top: 20px;
  }
}
.icon-dubu {
  width: 20px;
  height: 22px;
  background: url("../img/ic_dubu.png") no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
}

.user-menu {
  width: 280px;
  padding-top: 20px;
  display: none;
}
.user-menu li {
  display: block;
  margin-bottom: 3px;
}
.user-menu li a {
  font-size: 14px;
  display: block;
  padding-left: 15px;
  padding-right: 10px;
}
.user-menu li:last-child {
  margin-bottom: 0;
}
.user-menu .bg-dark-grey {
  color: #fff;
}
.user-menu .bg-dark-grey .fa {
  margin-right: 10px;
  padding-left: 3px;
  color: #e76123;
}
.user-menu .bg-dark-grey .fa.fa-envelope {
  font-size: 18px;
}
.user-menu .bg-dark-grey .fa:not(.fa-envelope) {
  font-size: 20px;
}

/*
* User setting
*/
.pw-block {
  background-color: #2a2a2a;
}

/*
* Navbar lang
*/
.dropdown-lang {
  min-width: 280px;
  top: 89%;
  border-radius: 10px 10px 0 0 !important;
  padding: 0;
}
.dropdown-lang:before {
  background: none !important;
}
.dropdown-lang > ul li {
  padding: 0;
  text-align: center;
}
.dropdown-lang > ul li.active a {
  color: #fff;
  background-color: #e76123;
}
.dropdown-lang > ul li:not(.active) a {
  background-color: #c1c2c6;
}
.dropdown-lang > ul li a {
  display: block;
  color: #2f3133;
  font-size: 15px;
  padding: 10px 5px 7px 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.dropdown-lang > ul li a:hover, .dropdown-lang > ul li a:focus {
  opacity: .9;
  text-decoration: none;
}
.dropdown-lang > ul li:first-child a {
  border-top-left-radius: 10px;
}
.dropdown-lang > ul li:last-child a {
  border-top-right-radius: 10px;
}

.nav-lang-list {
  max-height: 275px;
  overflow-x: hidden;
  overflow-y: auto;
}
.nav-lang-list li {
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}
.nav-lang-list li a {
  display: block;
  padding: 12px 10px 8px 10px !important;
  color: #2f3133;
  text-decoration: none;
}
.nav-lang-list li a:hover, .nav-lang-list li a:focus {
  background-color: #ddd !important;
}

.ja-jp .navbar-custom .btn-oval-orange {
  width: 115px;
  height: 29px;
  font-size: 15px;
  vertical-align: middle;
  padding-top: 6px !important;
  padding-left: 12px !important;
}

/*
* SUB HEADER
*/
.sub-header {
  padding: 10px 15px;
  background-color: #e4e5ea;
  position: fixed;
  width: 1300px;
  margin: 0 auto;
  display: none;
  z-index: 10;
  -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}
.sub-header .btn-slider {
  font-size: 22px;
  color: #7c7c7c;
  margin-right: 10px;
}
.sub-header .btn-slider:hover, .sub-header .btn-slider:focus {
  text-decoration: none;
}
.sub-header h4 {
  display: inline-block;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.logged-in.home .sub-header, .logged-in.login .sub-header, .logged-in.register .sub-header {
  display: none;
}
.logged-in .sub-header {
  display: block;
}

/* xs */
@media (max-width: 767px) {
  .sub-header {
    top: 70px;
  }
}

/* sm - md - lg */
@media (min-width: 768px) {
  .sub-header {
    top: 90px;
  }
}

/**************************
* FOOTER
**************************/
.footer {
  padding: 24px 15px 10px 15px;
  background-color: #3e3a39;
  color: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8) inset;
  -ms-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8) inset;
  -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8) inset;
}
.footer p {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.footer small {
  padding-top: 3px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 13px;
}

body:not(.home) .footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.container-footer {
  background-color: #f4f4f4;
  padding: 35px 35px 20px 20px;
}

/**************************
* MODAL
**************************/
.modal-backdrop.in {
  opacity: .7 !important;
}

.custom-modal {
  font-family: Helvetica, sans-serif;
}
.custom-modal.grey-header .modal-header {
  background-color: #303135;
}
.custom-modal:not(.grey-header) .modal-header {
  background-color: #e76123;
  text-transform: uppercase;
}
.custom-modal.confirm .modal-header {
  background-color: #ed432f;
}
.custom-modal.announce .modal-header {
  background-color: #e76123;
  text-transform: none;
}
.custom-modal .modal-header {
  color: #fff;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.custom-modal .modal-header .close {
  color: #fff;
}
.custom-modal .modal-content {
  border-radius: 10px;
}
.custom-modal .modal-body .area-des {
  height: 120px;
}
.custom-modal .modal-body:not(.modal-confirm) {
  min-height: 200px;
  padding: 10px;
}
.custom-modal .modal-body.modal-confirm {
  padding: 25px 30px;
}
.custom-modal .modal-footer {
  border-top: 0;
}

@media (max-width: 767px) {
  .custom-modal-nobg .modal-dialog video {
    width: 100%;
    height: 300px;
  }
}
@media (min-width: 768px) {
  .custom-modal-nobg .modal-dialog {
    width: 700px;
  }
  .custom-modal-nobg .modal-dialog video {
    width: 640px;
    height: 368px;
  }
}
.custom-modal-nobg .modal-content {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}
.custom-modal-nobg .modal-header {
  border: 0;
}

/**************************
* HOME
**************************/
.ja-jp .title-lineup {
  font-size: 24px;
}

.container-grey {
  background-color: #f4f4f4;
  width: 100%;
  padding: 100px 0 0 0;
}

.lineup-top {
  margin-top: 35px;
}

.title-lineup {
  color: #000;
  margin-top: 0;
  margin-bottom: 20px;
}

.lineup-videos {
  margin-bottom: 0;
  margin-left: 20px;
}
.lineup-videos li {
  padding-right: 20px;
}

.lineup-video {
  cursor: pointer;
  margin-bottom: 10px;
  width: 181px;
  height: auto;
}

.lineup-buttons {
  width: 225px;
}
.lineup-buttons a {
  display: block;
  text-transform: uppercase;
  padding: 5px 5px 2px 5px;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: #000;
  font-weight: normal;
  width: 225px;
  float: right;
  margin-left: 5px;
}

.btn-corner-radius:after {
  position: absolute;
  content: "";
  width: 13px;
  height: 15px;
  right: 14px;
  top: 10px;
  background: url("../img/ic_arrow_black.png") no-repeat;
  background-size: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-corner-radius:hover:after, .btn-corner-radius:focus:after {
  position: absolute;
  content: "";
  background: url("../img/ic_arrow_yellow.png") no-repeat;
  background-size: 100%;
}

.container-lineup {
  margin: 25px auto;
  padding-left: 25px;
  padding-right: 0;
}

.dark-divider {
  background-color: #9fa0a0;
  margin: 0 15px;
  width: 98%;
}

.container-cate {
  padding: 0 20px;
}

.cate-list {
  margin: 30px 10px 0 15px;
}
.cate-list li {
  padding: 0 15px;
}

.cate-name {
  font-family: Arial, sans-serif;
  font-size: 15px;
  margin-bottom: 15px;
  height: 70px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 70px;
  line-height: 23.33333px;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.swipers {
  position: relative;
  margin-left: 45px;
  margin-right: 48px;
  min-height: 358px;
}
.swipers .swiper-button {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 41%;
  background: url("../img/ic_swiper_arrow.png") no-repeat;
  background-size: 75%;
  background-position: center;
}
.swipers .button-left {
  left: -40px;
}
.swipers .button-right {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  right: -50px;
}

.sliders {
  overflow: hidden;
  max-height: 366px;
}

.swiper-cate-detail {
  margin: 40px 10px 30px 5px;
}
.swiper-cate-detail a {
  display: block;
}
.swiper-cate-detail .swiper-slide {
  cursor: pointer;
}

.cate-img {
  width: 91.881px;
}

/*
* Container banner
*/
.container-banner {
  background: #fff url("../img/bg_world.png") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 380px;
  padding-bottom: 15px;
  margin-top: 45px;
}
.container-banner .title {
  margin-top: 50px;
  padding-top: 40px;
  padding-left: 50px;
}

.text-border-white {
  color: #000;
  font-size: 20px;
  padding-left: 15px;
}

/*
* Container partner
*/
.container-partner {
  background: #9fa0a0 url("../img/globe.png") no-repeat;
  background-position: 55px bottom;
  min-height: 200px;
  padding: 30px 30px 30px 55px;
}
.container-partner .title {
  color: #fff;
}
.container-partner .btn-corner-radius {
  margin-top: 60px;
}

.container-banner .btn-corner-radius,
.container-partner .btn-corner-radius {
  display: block;
  padding: 5px 5px 4px 5px;
  font-family: Helvetica, sans-serif;
  font-size: 18.5px;
  color: #000;
  width: 225px;
  margin-left: 5px;
  margin-bottom: 15px;
}

.partner-list {
  padding-left: 100px;
  margin-top: 10px;
}
.partner-list li {
  margin-left: 10px;
}

.promo-go-top {
  position: fixed;
  bottom: 7em;
  right: 0;
  text-decoration: none;
  color: #000;
  background-color: rgba(235, 235, 235, 0.8);
  font-size: 1em;
  padding: 1em;
  display: none;
}

@media (max-width: 1299px) {
  .lineup-buttons {
    margin-right: 25px;
  }

  .container-partner .btn-corner-radius {
    margin-right: 25px;
  }
}
@media (min-width: 1300px) {
  .container-grey .container {
    width: 1070px;
  }

  .container-banner .container,
  .container-partner .container {
    width: 1200px;
  }

  .lineup-buttons {
    margin-right: -45px;
  }
}

/**************************
* LOGIN
**************************/
.container-login {
  background-color: #dcdedd;
  width: 100%;
  padding: 92px 0 0 0;
  font-family: "Gill Sans", sans-serif;
}
.container-login .title-login {
  letter-spacing: 3px;
  margin: 25px 0;
}

.login-content {
  padding-bottom: 100px;
}

.login-form {
  text-align: left;
}
.login-form label {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
.login-form .btn {
  font-weight: 300;
  padding: 7px 25px 5px 25px;
  margin-top: 15px;
}

.login-bottom {
  margin: 30px 0;
}
.login-bottom .divider {
  background-color: #2f3133;
  margin: 30px 0;
}

a.login-link {
  border-bottom: 1px solid #2f3133;
  letter-spacing: 2px;
  color: #2f3133;
  text-transform: uppercase;
  line-height: 1.21;
}
a.login-link:hover, a.login-link:focus {
  color: #2f3133;
  text-decoration: none;
}

.bg-login {
  background: url("../img/bg_login.png") no-repeat;
  background-position: center;
  background-size: cover;
}

/* xs */
@media (max-width: 767px) {
  .bg-login {
    min-height: 600px;
    width: 100%;
  }
}

/* sm */
@media (min-width: 768px) {
  .bg-login {
    position: fixed;
    width: 420px;
    top: 0;
    bottom: 0;
  }
}

/**************************
* SIDEBAR
**************************/
.sidebar {
  background-color: #eaeaea;
  min-width: 200px;
  position: fixed;
  bottom: 0;
  display: none;
}
.sidebar .sb-top {
  padding: 15px 20px 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sb-list {
  padding-top: 10px;
}

.mn .fa-caret-left {
  font-size: 25px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.mn .icon {
  margin-right: 10px;
}
.mn a {
  padding: 3px 13px;
  display: block;
  color: #2f3133;
  font-size: 13px;
}
.mn a:hover {
  background-color: #ddd;
}
.mn a[aria-expanded="true"] .fa-caret-left {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.mn.active a {
  color: #46c2ee;
}
.mn .child-mn {
  font-size: 11.5px;
}
.mn .child-mn a {
  padding-left: 34%;
  position: relative;
}
.mn .child-mn.active a {
  color: #46c2ee;
}
.mn .child-mn.active a:before {
  content: "\f0da";
  left: 28%;
  top: -2px;
  position: absolute;
  font-family: FontAwesome;
  font-size: 19px;
}

/* xs */
@media (max-width: 767px) {
  .sidebar {
    top: 129px;
  }
}

/* sm - md - lg */
@media (min-width: 768px) {
  .sidebar {
    top: 149px;
  }
}

/**************************
* SETTING PAGES
**************************/
.container-setting {
  margin: 149px 20px 0 20px;
  padding-bottom: 90px;
  min-height: 500px;
}

.acc-item {
  text-align: center;
  color: #2f3133;
  display: block;
  max-width: 200px;
  height: 220px;
  padding: 20% 10px 10px 10px;
}
.acc-item h4 {
  font-size: 16px;
  margin-bottom: 5px;
}
.acc-item:hover {
  color: #2f3133;
}
.acc-item.disabled {
  opacity: .6;
  pointer-events: none;
}

.container-acc div:nth-child(1):hover {
  background-color: #f57455;
}
.container-acc div:nth-child(2):hover {
  background-color: #a0ce6b;
}
.container-acc div:nth-child(3):hover {
  background-color: #ffcf55;
}
.container-acc div:nth-child(4):hover {
  background-color: #ec5866;
}
.container-acc div:nth-of-type(5):hover {
  background-color: #4cc1ec;
}
.container-acc div:nth-child(6):hover {
  background-color: #f79c81;
}
.container-acc div:nth-child(7):hover {
  background-color: #a591c6;
}

/*
* Tab setting
*/
.nav-setting li {
  margin-top: 0 !important;
}
.nav-setting li.active a {
  background-color: #e4e4ea;
}
.nav-setting li:not(.active) a:hover {
  background-color: transparent !important;
}
.nav-setting li a {
  color: #46c2ee;
}
.nav-setting li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tab-setting {
  min-height: 400px;
  padding-top: 10px;
}
.tab-setting .icon-view {
  margin-right: 5px;
  margin-bottom: 5px;
}

.form-setting {
  font-weight: 200;
  margin-top: 20px;
}
.form-setting .control-label {
  font-size: 13px;
  color: #3e3a39;
  font-weight: 200;
}
.form-setting .btn-corner-blue {
  color: #fff;
  min-width: 110px;
  padding: 4px 12px;
  font-size: 11px;
  margin-top: 10px;
}
.form-setting p {
  margin-bottom: 0;
}

/*
* Upload avatar
*/
.avatar-block {
  position: relative;
}
.avatar-block:hover .avatar-cover {
  display: block;
  -webkit-transition: display 0.4s;
  transition: display 0.4s;
}
.avatar-block .company-avatar {
  background: url("../img/company_avatar.png") no-repeat;
  background-position: center;
  background-size: 90%;
  background-color: #2f3133;
  width: 100%;
  height: 100%;
}

.avatar-cover {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}
.avatar-cover div {
  position: absolute;
  text-align: center;
  color: #fff;
  left: 0;
  right: 0;
}
.avatar-cover p {
  margin: 0;
  line-height: 1.2;
}
.avatar-cover .icon-camera {
  margin: 0 auto 10px auto;
}

.pr-upload {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
}

.company-upload option {
  font-size: 13px !important;
}

/*
* Modal
*/
.lang-body {
  padding: 15px;
}
.lang-body .pr-lang-list {
  overflow-x: hidden;
  overflow-y: auto;
  height: 200px;
}

.pr-lang-list li {
  cursor: pointer;
}
.pr-lang-list li.active {
  position: relative;
}
.pr-lang-list li.active:before {
  position: absolute;
  content: "";
  background-image: url(../img/sprites.png);
  background-position: -116px -89px;
  width: 18px;
  height: 18px;
  left: -6px;
  top: 2px;
}

/*
* Agency Registration
*/
.container-agency {
  margin: 88px 20px 0 20px;
  padding-bottom: 90px;
  min-height: 500px;
}

.agency-banner {
  width: 100%;
  height: 135px;
}
.agency-banner .agency-text {
  padding-top: 35px;
}
.agency-banner .agency-title,
.agency-banner .agency-partner {
  color: #fff;
  margin-bottom: 0;
  margin-left: 7px;
}
.agency-banner .agency-title {
  font-size: 17px;
  letter-spacing: 2px;
}
.agency-banner .agency-partner {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

.content-agency {
  text-align: center;
  margin-top: 30px;
}
.content-agency .agency-welcome {
  letter-spacing: 1.5px;
}

.agency-grey {
  background-color: #f4f4f4;
  padding: 15px;
  margin-top: 30px;
}
.agency-grey h5 {
  font-size: 17px;
}
.agency-grey p {
  margin-bottom: 5px;
}
.agency-grey .control-label {
  font-weight: 200 !important;
}

.center-divider {
  width: 90%;
  margin: 20px auto;
}

.orange-link {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

/*
* Address management
*/
.table-responsive {
  min-height: 400px;
}
.table-responsive a {
  color: #2f3133;
}

.level-selection a {
  display: block;
}
.level-selection .dropdown-menu {
  border-radius: 0;
  border: 0;
  width: 180px;
}
.level-selection .dropdown-title {
  font-size: 12px;
  padding: 10px;
}
.level-selection ul {
  background-color: #e9e9f0;
  padding: 10px;
}

.address-table thead tr th {
  border-width: 1px;
}
.address-table tbody tr td {
  border: 0;
}

/*
* Tab borderless
*/
.tab-borderless {
  border-bottom: 0;
}
.tab-borderless li a {
  font-size: 15px;
  padding-left: 5px;
  padding-right: 25px;
}
.tab-borderless li.active a {
  border: 0;
  border-bottom: 5px solid #ddd;
}
.tab-borderless li.active a:hover, .tab-borderless li.active a:focus {
  border: 0;
  border-bottom: 5px solid #ddd;
}
.tab-borderless li:not(.active) a {
  color: #00a0e9;
  border: 0;
  background-color: transparent;
}
.tab-borderless li:not(.active) a:hover, .tab-borderless li:not(.active) a:focus {
  border: 0;
  background-color: transparent;
}

@media (min-width: 768px) {
  .content-setting {
    padding: 40px 0 40px 5px;
  }

  .tab-setting {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  .form-setting .form-horizontal .control-label {
    text-align: left;
  }

  .agency-banner {
    background: url("../img/bg_agency.png") no-repeat;
    background-position: center right;
    background-color: #353e49;
  }
}
@media (min-width: 1200px) {
  .container-setting .container {
    width: 864px;
  }
}
@media (max-width: 767px) {
  .company-upload {
    width: 130px;
  }

  .avatar-block {
    width: 130px;
    height: 130px;
  }
  .avatar-block .avatar-cover div {
    top: 20%;
  }

  .agency-banner {
    background-color: #353e49;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .company-upload {
    width: 180px;
  }

  .avatar-block {
    width: 180px;
    height: 180px;
  }
  .avatar-block .avatar-cover div {
    top: 30%;
  }

  .container-agency .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container-agency .container {
    width: 900px;
  }
}
@media (min-width: 992px) and (max-width: 1439px) {
  .company-upload {
    width: 120px;
  }

  .avatar-block {
    width: 120px;
    height: 120px;
  }
  .avatar-block .avatar-cover div {
    top: 20%;
  }
}
@media (min-width: 1440px) {
  .company-upload {
    width: 180px;
  }

  .avatar-block {
    width: 180px;
    height: 180px;
  }
  .avatar-block .avatar-cover div {
    top: 39%;
  }
}

/**************************
* UPLOAD
**************************/
.upload-area {
  width: 100%;
  height: 312px;
  padding-top: 50px;
  font-family: Helvetica, sans-serif;
  background-color: #fff;
  border: 2px solid #ddd;
  position: relative;
  text-align: center;
}
.upload-area .input-hidden {
  position: absolute;
  left: 0;
  top: 0;
  height: 312px;
  width: 100%;
  opacity: 0;
  z-index: 9;
}
.upload-area .input-hidden:focus {
  outline: none;
  cursor: pointer;
}
.upload-area i {
  padding-top: 100px;
  color: #7c7c7c;
}
.upload-area #btnRemove {
  z-index: 10;
}

.upload-select img {
  margin-top: 73px;
}

.upload-content {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  min-height: 300px;
  width: 100%;
  z-index: 9;
}

.form-upload input,
.form-upload textarea,
.form-upload select {
  border-radius: 0;
}
.form-upload .form-group {
  margin-bottom: 7px;
}
.form-upload .area-des {
  resize: none;
  height: 90px;
}
.form-upload .area-tag {
  resize: none;
  height: 50px;
}
.form-upload .btn-orange,
.form-upload .btn-border-blue {
  width: 120px;
  border-radius: 0;
  font-size: 13px;
  padding: 3px 10px 2px 10px;
}

.btn-add-lang {
  width: 170px;
  border-radius: 10px;
  padding: 9px 10px 6px 10px;
}
.btn-add-lang .icon {
  margin-right: 5px;
}
.btn-add-lang:hover, .btn-add-lang:focus {
  color: #faab18 !important;
}

.upload-setting {
  background-color: #d8d8db;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  position: relative;
}
.upload-setting .pr-name,
.upload-setting .pr-date {
  margin-bottom: 0;
  margin-top: 5px;
  min-width: 190px;
}
.upload-setting .icon-edit,
.upload-setting .name-ctr {
  margin-top: 10px;
  margin-left: 10px;
}
.upload-setting .btn-border-white-bg {
  width: 90px;
  border-radius: 5px;
  margin-right: 20px;
}
.upload-setting .upload-top {
  margin-bottom: 5px;
}
.upload-setting .area-trans {
  resize: none;
  height: 80px;
}
.upload-setting .trans-comment {
  background-color: #e9e9e9;
  border: 1px solid #fff;
  border-top: 7px solid #46c2ee;
  height: 160px;
}
.upload-setting .trans-comment textarea {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  resize: none;
  border: 0;
  background-color: #e9e9e9;
  outline: 0;
  padding: 10px 15px;
}
.upload-setting .trans-opt,
.upload-setting .trans-level {
  min-height: 160px;
  background-color: #e9e9e9;
  border: 1px solid #fff;
  border-top: 7px solid #46c2ee;
  position: relative;
}
.upload-setting .trans-opt:before,
.upload-setting .trans-level:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 22px;
  top: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #46c2ee;
}
.upload-setting .trans-opt li {
  font-size: 13px;
}
.upload-setting .trans-opt li:not(:last-child) {
  border-bottom: 1px solid #fff;
}
.upload-setting .trans-opt .radio {
  padding: 3px 5px 3px 20px;
  margin: 3px 10px 3px 15px;
}
.upload-setting .trans-opt label {
  font-weight: 300 !important;
}
.upload-setting .trans-level {
  padding: 5px 10px;
}
.upload-setting .trans-level .cus-cb-label:before {
  background-color: #fff;
}
.upload-setting .btn-border-black,
.upload-setting .btn-orange,
.upload-setting .btn-blue {
  border-radius: 0;
  border-width: 1px;
  width: 140px;
  padding: 3px 12px;
}
.upload-setting .input-name,
.upload-setting .name-ctr {
  display: none;
}

.update-disabled {
  position: absolute;
  border-radius: 10px;
  top: 0;
  background-color: rgba(221, 221, 221, 0.7);
  bottom: 0;
  left: 0;
  right: 0;
}
.update-disabled .btn-grey-shadow {
  padding: 15px 17px;
  font-size: 23px;
  font-weight: 200;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.update-disabled .update-disabled-top {
  color: #fff;
  background-color: rgba(63, 81, 181, 0.7);
  text-align: center;
  margin-top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px;
  font-weight: 200;
}

/*
* Progress
*/
.progress {
  position: relative;
  width: 350px;
  height: 28px;
  margin: 10px 0;
  border: 1px solid #DDD;
  padding: 1px;
  border-radius: 3px;
  display: none;
}

.bar {
  background-color: #46c2ee;
  height: 26px;
  width: 0%;
  color: #2f3133;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.percent {
  position: absolute;
  display: inline-block;
  top: 6px;
  left: 48%;
  color: #333;
}

.form-control-feedback.glyphicon-triangle-bottom {
  background-color: #2a2a2a;
  border-top: 0.5px solid #7c7c7c;
  border-right: 0.5px solid #7c7c7c;
  border-bottom: 0.5px solid #7c7c7c;
  color: #fff !important;
}

/**************************
* VIDEO LIST
**************************/

/*
* Video filter
*/
.filter-tags {
  margin-left: 15px;
}
.filter-tags .filter-tag {
  background-color: #e9e9f0;
  border: 1px solid #91919b;
  border-radius: 4px;
  padding: 4px 50px 4px 10px;
  position: relative;
  margin-right: 7px;
}
.filter-tags .filter-tag span {
  max-width: 75px;
  font-size: 12px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 1.8em;
  line-height: 1.8em;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.filter-tags .filter-tag .filter-delete {
  color: #fff;
  background-color: #8d8d95;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  width: 22px;
  bottom: 0;
  line-height: 2;
}

.filter-video-search {
  font-size: 11px;
  margin-top: 10px;
}
.filter-video-search .form-control-feedback {
  margin-right: -15px;
}
.filter-video-search label {
  margin-top: 10px;
  font-weight: 300;
  text-align: right;
  padding-left: 0;
  padding-right: 5px;
}
.filter-video-search select,
.filter-video-search input {
  font-size: 11px !important;
}
.filter-video-search .form-group {
  margin-left: 0;
  margin-right: 0;
}
.filter-video-search div {
  padding-right: 5px;
}
.filter-video-search .from {
  padding-right: 10px;
  position: relative;
}
.filter-video-search .from:after {
  content: "~";
  position: absolute;
  top: 5px;
  right: -8px;
  font-size: 18px;
}
.filter-video-search .btn-border-grey-bg {
  border-radius: 7px;
  font-size: 11px;
  margin-top: 5px;
  padding: 6px 5px 2px 5px;
}
.filter-video-search .btn-corner-orange {
  font-size: 15px;
  padding: 6px 22px 4px 22px;
}

/*
* Tab
*/
.toggle-view {
  border: 0;
  float: right;
}
.toggle-view li a {
  padding: 6px;
}
.toggle-view li a:focus, .toggle-view li a:hover {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}
.toggle-view li.active a {
  border: 1px solid #7c7c7c;
  border-radius: 0;
  background-color: #eaeaea;
}
.toggle-view li.active a:focus, .toggle-view li.active a:hover {
  background-color: #eaeaea;
  border: 1px solid #7c7c7c;
  border-radius: 0;
}

/*
* List
*/
.table-videos thead > tr {
  background-color: #f7f7f8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f8), to(#dddedf));
  background-image: -webkit-linear-gradient(top, #f7f7f8, #dddedf);
  background-image: linear-gradient(top, #f7f7f8, #dddedf);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#f7f7f8', end-colourStr='#dddedf');
}
.table-videos thead > tr th, .table-videos thead > tr td {
  border: 0;
  vertical-align: middle;
  font-size: 11px;
}
.table-videos thead > tr th a, .table-videos thead > tr td a {
  font-weight: 300;
}
.table-videos thead > tr th .cus-cb-label, .table-videos thead > tr td .cus-cb-label {
  font-size: 15px;
}
.table-videos tbody > tr th, .table-videos tbody > tr td {
  border: 0;
  vertical-align: middle;
}
.table-videos tbody > tr:nth-of-type(odd) {
  background-color: #f0efec;
}
.table-videos tbody > tr .thumb-img {
  width: 120px;
  height: 75px;
}
.table-videos .btn-border-white-bg {
  padding: 2px 10px 0 10px;
  font-size: 15px;
}
.table-videos .btn-blue {
  padding: 6px 15px 2px 15px;
}

/*
* Panel
*/

/*
* Responsive
*/

/* xs */
@media (max-width: 767px) {
  .filter-video-search .to {
    padding-left: 0;
    padding-right: 10px;
    margin-top: 10px;
  }
}
