@@include('head.html', {"title": "Agency Registration"})
@@include('header.html', {"type": ""})
<main class="main">
    <!-- MAIN CONTAINER -->
    <div class="main-container">
        <!-- container-pr -->
        <div class="container-pr">
            @@include('pages/_agency.html')
        </div><!-- ./container-pr -->
    </div>
    <!-- ./MAIN CONTAINER -->

</main>
<!-- main -->

@@include('footer.html')
@@include('script.html')
</body>
</html>