@@include('head.html', {"title": "Company Information"})
@@include('header.html', {"type": "logged-in"})
@@include('sub_header.html', {"title": "企業情報設定", "color": "blue"})
<main class="main">
    <!-- MAIN CONTAINER -->
    <div class="main-container">
        <!-- container-pr -->
        <div class="container-pr">
            @@include('pages/_company.html')
            @@include('sidebar.html')
        </div><!-- ./container-pr -->
    </div>
    <!-- ./MAIN CONTAINER -->
</main>
<!-- main -->

@@include('footer.html')
@@include('script.html')
    <script src="assets/js/modal.js"></script>
</body>
</html>