@@include('head_home.html', {"title": "Home"})
@@include('header.html', {"type": "home"})

<main class="main">
    <!-- MAIN CONTAINER -->
    <div class="main-container">
        <!-- container-pr -->
        <div class="container-pr">
            @@include('pages/_home.html')

        </div><!-- ./container-pr -->
    </div>
    <!-- ./MAIN CONTAINER -->

</main>
<!-- main -->

@@include('footer.html')
@@include('script.html')
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/promotion.js"></script>
    <script>
        (function (app) {
            "use strict";
            // GLOBAL OBJECT
            app(window.jQuery, window, document);
        }(function ($, window, document) {
                    var swiper_cate_detail = new Swiper('#swiperCateDetail', {
                slidesPerView: 6,
                slidesPerColumn: 2,
                spaceBetween: 14,
                breakpoints: {
                    1200: {
                        slidesPerView: 4,
                        spaceBetween: 10
                    },
                    480: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                }
            });
            $("#btnNext").on("click", function () {
                swiper_cate_detail.slideNext();
            });
            $("#btnPrev").on("click", function () {
                swiper_cate_detail.slidePrev();
            });

        })
        )
    </script>
</body>
</html>