@@include('head.html', {"title": "Security Settings"})
@@include('header.html', {"type": "logged-in"})
@@include('sub_header.html', {"title": "セキュリティー設定", "color": "blue"})
<main class="main">
    <!-- MAIN CONTAINER -->
    <div class="main-container">
        <!-- container-pr -->
        <div class="container-pr">
            @@include('pages/_security.html')
            @@include('sidebar.html')
        </div><!-- ./container-pr -->
    </div>
    <!-- ./MAIN CONTAINER -->

</main>
<!-- main -->

@@include('footer.html')
@@include('script.html')
</body>
</html>